.controller-classifieds form
{
  margin-top: 100px;
}
.controller-classifieds form input[type="file"]
{
  display: none;
}
.controller-classifieds form h2
{
  color: #231a1d;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 470px;
  margin-bottom: 20px;
}
.controller-classifieds form .form-item
{
  margin: 20px 0;
}
.controller-classifieds form .form-item label
{
  font-size: 13px;
  font-weight: bold;
  padding-left: 20px !important;
  text-align: right;
  width: 150px;
  line-height: 35px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.controller-classifieds form .form-item textarea,
.controller-classifieds form .form-item input,
.controller-classifieds form .form-item select
{
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  font-weight: bold;
  font-size: 12px;
}
.controller-classifieds form .form-item input,
.controller-classifieds form .form-item select
{
  line-height: 35px;
  padding: 3px 8px;
  min-width: 300px;
}
.controller-classifieds form .form-item select
{
  height: 45px;
}
.controller-classifieds form .form-item textarea
{
  min-width: 500px;
  min-height: 150px;
  font-family: aller, sans-serif;
  padding: 8px;
  resize: none;
}
.controller-classifieds form .form-item textarea:focus,
.controller-classifieds form .form-item input:focus,
.controller-classifieds form .form-item select:focus
{
  border-color: #bf2130;
}
.controller-classifieds form .form-item .note
{
  color: #8c8585;
  font-size: 14px;
  overflow: hidden;
  max-width: 400px;
  margin-top: 20px;
  margin-left: 194px;
}

.controller-classifieds form .image_wrap
{
  margin-left: 190px;
}
.controller-classifieds form .image_item
{
  display: inline-block;
  border: 5px solid white;
  border-radius: 6px;
  margin-bottom: 30px;
}

.controller-classifieds form .image_item .img
{
  width: 160px;
  height: 160px;
}


/* Media Queries for MOBILE / SMALL sized screens */
@media only screen and (max-width: 768px)
{
  .controller-classifieds form
	{
    margin-top: 140px;
  }
  .controller-classifieds form input[type=submit]
	{
    float: none;
  }
  .controller-classifieds form h2
	{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .controller-classifieds form .form-item
	{
    width: 100%;
  }
  .controller-classifieds form .form-item label
	{
    display: block;
    text-align: left;
    padding: 0 !important;
    margin: 0;
  }
  .controller-classifieds form .form-item textarea,
	.controller-classifieds form .form-item input
	{
    min-width: 300px;
    width: 100%;
    padding: 0;
  }
  .controller-classifieds form .form-item .note
	{
    margin-left: 0;
    width: 300px;
  }
}
