header.controller-classifieds.action-show
{
  height: 60px;
}

.controller-classifieds.action-show.container
{
  margin-top: 90px;
}

.controller-classifieds.action-show .right,
.controller-classifieds.action-show .right p
{
  height: auto;
}

.controller-classifieds.action-show span.red
{
  color: #bf2130;
}

.controller-classifieds.action-show .classifieds_item .iframe
{
  margin-top: 30px;
  margin-bottom: 30px;
}
.controller-classifieds.action-show .classifieds_item .soundcloud
{
  margin-bottom: 30px;  
}

.controller-classifieds.action-show .image_item
{
  display: inline-block;
  border: 5px solid white;
  border-radius: 6px;
  margin-bottom: 30px;
}

.controller-classifieds.action-show .image_item .img
{
  width: 160px;
  height: 160px;
}
