
header.controller-news.action-new,
header.controller-news.action-edit,
header.controller-news.action-show
{
  height: 60px;
}
.controller-news.action-new.container,
.controller-news.action-edit.container,
.controller-news.action-show.container
{
  margin-top: 0;
}
.controller-news.action-new .news_wrap,
.controller-news.action-edit .news_wrap,
.controller-news.action-show .news_wrap
{
  width: 800px;
  margin: 0 auto;
}
.controller-news.action-new .news_wrap a,
.controller-news.action-edit .news_wrap a,
.controller-news.action-show .news_wrap a
{
  text-decoration: none;
  color: #bf2130;
}
.controller-news.action-new .news_wrap a:hover,
.controller-news.action-edit .news_wrap a:hover,
.controller-news.action-show .news_wrap a:hover
{
  text-decoration: underline;
}
.controller-news.action-new .date,
.controller-news.action-edit .date,
.controller-news.action-show .date
{
  float: left;
  margin-top: 40px;
}
.controller-news.action-new .title_wrap,
.controller-news.action-edit .title_wrap,
.controller-news.action-show .title_wrap
{
  margin-top: 40px;
  width: 720px;
  float: left;
  line-height:83px;
  vertical-align:center;
}
.controller-news.action-new .title,
.controller-news.action-edit .title,
.controller-news.action-show .title
{
  display: inline-block;
  vertical-align: middle;
}
.controller-news.action-new .content,
.controller-news.action-edit .content,
.controller-news.action-show .content
{
  margin-left: 80px;
  width: 720px;
  margin-bottom: 100px;
  margin-top: 40px;
}
.controller-news.action-new h2,
.controller-news.action-edit h2,
.controller-news.action-show h2
{
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #231a1d;
}
.controller-news.action-new .text,
.controller-news.action-edit .text,
.controller-news.action-show .text
{
  font-size: 14px;
  line-height: 22px;
  color: #8c8585;
  margin-top: 40px;
}
.controller-news.action-new .img,
.controller-news.action-edit .img,
.controller-news.action-show .img
{
  max-width: 100%;
  height: 400px;
  background-color: #bf2130;
  background-size: cover;
  background-position: center;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px) {
  .controller-news.action-new .news_wrap,
  .controller-news.action-edit .news_wrap,
  .controller-news.action-show .news_wrap
  {
    width: 100%;
  }
  .controller-news.action-new .title,
  .controller-news.action-edit .title,
  .controller-news.action-show .title
  {
    width: 660px;
  }
  .controller-news.action-new .content,
  .controller-news.action-edit .content,
  .controller-news.action-show .content
  {
    margin: 40px auto 60px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-news.action-show .content
  {
    width: 100%;
  }
/*  .controller-news.action-show .img {
    width: 100%;
    height: auto;
  }*/
  .controller-news.action-show .title
  {
    width: 100%;
  }
}
