.artist_wrap
  - @artists.each do |artist|
    - if (artist.genres)
      - artist.genres.each do |gn|
        %a.artist_item{ :href => artist_path( :id => artist.id ) }
          .img{ :style => "background-image:url('#{artist.image.url(:thumb)}');"}
          %h4{ :title => artist.name }= artist.name
          %h5= gn.name
.clear
