- Genre.all.each do |genre|
  - unless genre.artists.blank?
    .genre{ "data-genre_id" => genre.id }
      %h3= genre.name
      .artist_wrap
        - @artists.each do |artist|
          - if (artist.genres)
            - artist.genres.each do |gn|
              - if gn.id == genre.id
                %a.artist_item{ :href => artist_path( :id => artist.id ) }
                  .img{ :style => "background-image:url('#{artist.image.url(:thumb)}');"}
                  %h4{ :title => artist.name }= artist.name
                  %h5= genre.name
      .clear
