- unless @artist.new_record?
  = form_for @artist, :url => artist_path( :id => @artist.id ), :html=>{ :id=>'delete_form' }, :method => 'delete' do |f|
    // button will be rendered in next form

= form_for @artist, :url => ( @artist.new_record? ? artists_path : artist_path( :id => @artist.id ) ), :html => { :multipart => true } do |f|

  %h1
    = f.text_field :name, :placeholder => "Name", :required => true
    = f.select :genre_ids, options_from_collection_for_select( Genre.all, :id, :name, @artist.genres.pluck(:id) ), { :prompt => "Please select"}, { :multiple => true, :size => 5 }
    = f.check_box :spotlight
  .profile
    .img{ :style => "background-image:url('#{@artist.image.url(:full)}');"}
      = f.file_field :image
    .contacts
      .left
        %h4.underline Management
        .contact_entry= f.text_field :contact, :placeholder => "Contact info"
        %br
        .contact_entry= f.text_field :email, :placeholder => "E-mail", :required => true
        %br
        .contact_entry= f.text_field :phone, :placeholder => "Phone"
      .right
        %h4.underline Follow
        .social_links
          .spotify= f.text_field :spotify, :placeholder => "Spotify"
          .twitter= f.text_field :twitter, :placeholder => "Twitter"
          .draugiem= f.text_field :draugiem, :placeholder => "Draugiem"
          .facebook= f.text_field :facebook, :placeholder => "Facebook"
        .contact_entry= f.text_field :webpage, :placeholder => "Webpage"
      .clear
    .player= f.text_area :soundcloud, :placeholder => "Soundcloud embed code"
  .bio
    .title
      %h2 Bio
    LV
    %p= f.text_area :bio_lv, :class => :tinymce
    EN
    %p= f.text_area :bio_en, :class => :tinymce
    RU
    %p= f.text_area :bio_ru, :class => :tinymce
  .clear
  = f.submit
  - unless @artist.new_record?
    = submit_tag 'Delete artist', :form => 'delete_form', :class => ['delete_link'], :data => { :confirm => 'Are you sure?' }
  .sub_navigation
    %a.back{ :href => artists_path } &#8592; Back to grid
    .clear
