%h1= I18n.t( :artists, :scope => :titles )

.genre_wrap
  .genres
    %form
      %ul
        - Genre.all.each do |genre|
          %li
            = genre.name
            .checkbox
              = check_box :genre, genre.id, :style => "display: none;"
      .view_all
        View all
        .checkbox
          = check_box :genre, :all, :style => "display: none;", :checked => true

  - if is_admin?
    %a.button{ :href => new_artist_path, :title => t(:add) }

.artists{ 'data-view' => :tiles, 'data-sort' => :asc  }
  = render "view_controls"
  .all_artists_wrap.content_wrap
    = render "artist_list"
.clear
