%h1= @artist.name

.profile
  .img{ :style => "background-image:url('#{@artist.image.url(:full)}');"}

    .music_genre_logo{ "data-genre" => @artist.genres.pluck(:name) }
  = render "artist_contacts", :item => @artist
  .player= raw @artist.soundcloud
.bio
  .title
    %h2 Bio
  %p
    - if locale == :lv
      = raw @artist.bio_lv
    - if locale == :en
      = raw @artist.bio_en
    - if locale == :ru
      = raw @artist.bio_ru
.clear

- if is_admin?
  %a.button{ :href => edit_artist_path( :id => @artist.id ), :title => t(:edit) }

.sub_navigation
  %a.back{ :href => artists_path }
    &#8592;
    = t(:back)
  -# - unless @artist.next.blank?
    %a.next{ :href => artist_path( :id => @artist.next.id ) }
      = t(:similar_artist)
      &#8594;
  .clear
  .form_submit
    = render "form_submit"
