%h1 Edit History

= form_for @page, :url => ( history_music_index_path ), :html => { :multipart => true } do |f|
  .field_wrap
    = f.label :content_lv, "Content LV"
    = f.text_area :content_lv, :class => :tinymce
  .field_wrap
    = f.label :content_en, "Content EN"
    = f.text_area :content_en, :class => :tinymce
  .field_wrap
    = f.label :content_ru, "Content RU"
    = f.text_area :content_ru, :class => :tinymce

  = f.submit

  .sub_navigation
    %a.back{ :href => history_music_index_path } &#8592; Back to about us
    .clear
