%h1= I18n.t( :history, :scope => :titles )

.side_navigation
  .links
    = render "music_submenu"

.content_wrap
  = raw @page["content_#{locale}"]
.clear
- if is_admin?
  %a.button{ :href => about_edit_path, :title => "Labot" }
