/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.controller-about.container {
	margin-top: -160px;
  /*text-align: justify;*/
}

.controller-about .about {
	padding-top: 65px;
	float: left;
	margin-bottom: 40px;
	width: 700px;
}
.controller-about .paragraph {
	margin-bottom: 40px;
}
.controller-about .about a {
  font-weight: bold;
  line-height: 22px;
  color: #bf2130;
  text-decoration: none;
}
.controller-about .paragraph a:hover {
  text-decoration: underline;
}

.img.first-page-news {
    max-width: 100%;
    height: 400px;
    background-color: #bf2130;
    background-size: cover;
    background-position: center;
}
.controller-about .paragraph h2 {
  	overflow: hidden;
  	display: inline-block;
  	font-size: 30px;
  	line-height: 45px;
  	font-weight: bold;
  	color: #231a1d;
  	padding-bottom: 30px;
}
.controller-about .paragraph p {
	font-size: 14px;
  	line-height: 22px;
  	color: #8c8585;
  	overflow: hidden;
}
.controller-about .paragraph .paragraph-list {
  	padding-left: 20px;
  	padding-top: 7px;
  	padding-bottom: 7px;
  	list-style-type: circle;
}
.controller-about .paragraph li {
	font-size: 14px;
  	line-height: 22px;
  	color: #8c8585;
  	margin-left: 30px;
  	padding-top: 15px;
    list-style-type: disc;
}
.controller-about .paragraph .members li {
  list-style-type: none;
  margin-left: 0;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-about .about {
    width: 100%;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-about.container {
    margin-top: -130px;
    width: 90%;
  }
  .controller-about .about-nav {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 250px;
    margin-right: 50px;
    float: none;
    clear: both;
  }
  .controller-about .paragraph .paragraph-list {
    padding-left: 20px;
  }
  .controller-about .paragraph li {
    margin-left: 40px;
  }
  .controller-about .about {
    width: 100%;
  }
}
.controller-about.on-single form textarea
{
  width: 100%;
  height: 500px;
  resize: vertical;
  font-family: aller, sans-serif;
}
.controller-about.on-single form label
{
  margin-bottom: 5px;
}
.controller-about.on-single form .field_wrap
{
  margin-bottom: 20px;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.controller-artist_like.container,
.controller-artists.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-artists .genre_wrap
{
  padding-top: 80px;
  padding-bottom: 40px;
  width: 250px;
  margin-right: 30px;
  float: left;
  text-align: center;
}
.controller-artists .genre_wrap .genres
{
  width: 100%;
  background-color: #bf2130;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  background-image: url("/assets/pattern.svg");
  background-position: 137% -180%;
  background-size: 240% auto;
  text-align: left;
  margin-bottom: 40px;
}
.controller-artists .genre_wrap ul
{
  padding: 20px 0;
}
.controller-artists .genre_wrap .view_all,
.controller-artists .genre_wrap li
{
  padding-left: 23px;
  cursor: pointer;
}
.controller-artists .genre_wrap li
{
  text-transform: capitalize;
}
.controller-artists .genre_wrap .checkbox
{
  background-color: #ab1b29;
  border: 3px solid #fff;
  border-radius: 100px;
  float: right;
  height: 12px;
  margin-right: 20px;
  margin-top: 11px;
  width: 12px;
}
.controller-artists .genre_wrap .view_all
{
  background-color: #ab1b29;
  padding-top: 15px;
  padding-bottom: 20px;
}
.controller-artists .view_all:hover .checkbox,
.controller-artists li:hover .checkbox
{
  background-color:#CD767F;
}
.controller-artists .genre_wrap .checkbox.active
{
  background-color: #fff;
}
.controller-artist_like .items,
.controller-artists .artists
{
  margin-bottom: 120px;
  width: 700px;
  float: left;
  margin-top: 35px;
}
.controller-artist_like .item_wrap
{
  margin-top: 15px;
  padding-top: 30px;
  border-top: 5px solid #bf2130;
}
.controller-artist_like .items h3,
.controller-artists .artists h3
{
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  color: #231a1d;
  text-transform: uppercase;
  border-bottom: 5px solid #bf2130;
  margin-bottom: 30px;
}

.controller-artists .genre
{
  margin-bottom: 30px;
}
/*.controller-artist_like .artist_item,
.controller-artists .artist_item
{
  width: 225px;
  margin-right: 12px;
  float: left;
  margin-bottom: 30px;
}
.controller-artist_like .artist_item:nth-child(3n),
.controller-artists .artist_item:nth-child(3n)
{
  margin-right: 0;
}*/
.controller-artist_like .artist_item .img,
.controller-artists .artist_item .img
{
  /*width: 225px;*/
  min-height: 145px;
  height: auto;
  max-width: 100%;
  background-color: #bf2130;
  background-size: cover;
  background-position: center;
}

/* responsive grid for artist items */

.controller-artist_like .artist_item,
.controller-artists .artist_item
{
  width: 32%;
  background: white;
  padding: 10px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controller-artist_like .items[data-view="list"] .artist_item,
.controller-artists .items[data-view="list"] .artist_item
{
  width: 100%;
}
.controller-artists .artist_item:nth-child(n)
{
  margin-right: 2%;
  margin-bottom: 2%;
}
.controller-artists .artist_item:nth-child(3n)
{
  margin-right: 0;
}
@media (max-width: 768px)
{
  .controller-artist_like .artist_item,
  .controller-artists .artist_item
  {
    width: 48%;
  }
  .controller-artists .artists_item:nth-child(n)
  {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .controller-artists .artists_item:nth-child(2n)
  {
    margin-right: 0;
  }
}
.controller-artists .artists_item img
{
  max-width: 100%;
}
@media only screen and (max-width: 370px)
{
  .controller-artists .artist_item
  {
    width: 90%;
  }
}

/* end of the grid */

.controller-artist_like a.artist_item,
.controller-artists a.artist_item
{
  text-decoration: none;
}
.controller-artist_like .artist_item h4,
.controller-artists .artist_item h4
{
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #22191c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.controller-artist_like .artist_item h5,
.controller-artists .artist_item h5
{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #22191c;
}
.controller-artist_like .items[data-view="list"] .artist_item h5,
.controller-artist_like .items[data-view="list"] .artist_item .img,
.controller-artists .artists[data-view="list"] .artist_item h5,
.controller-artists .artists[data-view="list"] .artist_item .img
{
  display: none;
}
.controller-artist_like .items[data-view="list"] .artist_item,
.controller-artists .artists[data-view="list"] .artist_item
{
  float: none;
  margin-bottom: 0;
  margin-right: 0;
  display: block;
}

/*Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px) {
  .controller-artist_like.container,
  .controller-artists.container
  {
    width: 750px;
  }
  .controller-artists .genre_wrap
  {
    margin-right: 30px;
  }
  .controller-artist_like .items,
  .controller-artists .artists
  {
    width: 470px;
  }
/*  .controller-artist_like .artist_item:nth-child(3n),
  .controller-artists .artist_item:nth-child(3n)
  {
    margin-right: 12px;
  }
  .controller-artist_like .artist_item:nth-child(2n),
  .controller-artists .artist_item:nth-child(2n)
  {
    margin-right: 0;
  }*/
}

/* Media Queries for MOBLILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-artist_like.container,
  .controller-artists.container
  {
    margin-top: -130px;
    width: 90%;
  }
  .controller-artist_like .items,
  .controller-artists .artists
  {
    width: 100%;
  }
  .controller-artists .genre_wrap
  {
    width: 100%;
    padding-top: 40px;
    float: none;
    margin-right: 0;
  }
  .controller-artists .genre_wrap .genres
  {
    width: 100%;
  }
  .controller-artists .artists
  {
    width: 100%;
  }
  .view_controls
  {
    margin-right: 0;
  }
}

@media only screen and (max-width : 369px)
{
/*  .controller-artist_like .container,
  .controller-artists .container {
    width: 300px;
  }*/

  .controller-artists .artist_item {
    width: 100%;
    margin-right: 20px;
  }
  .controller-artists .artist_item .img {
    width: 100%;
    height: 115px;
  }
}
.controller-artist_like.on-single form .bio textarea,
.controller-artists.on-single form .bio textarea
{
  width: 100%;
  height: 500px;
  resize: vertical;
  font-family: aller, sans-serif;
}

.controller-artist_like.on-single form .player textarea,
.controller-artists.on-single form .player textarea
{
  width: 100%;
  height: 500px;
  resize: vertical;
  font-family: aller, sans-serif;
}
.controller-artist_like.on-single h1,
.controller-artists.on-single h1
{
  text-align: left;
  margin-bottom: 30px;
}
.controller-artist_like.on-single.container .profile a,
.controller-artists.on-single.container .profile a
{
  color: #231a1d;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.controller-artist_like.on-single.container a:hover,
.controller-artists.on-single.container a:hover
{
  color: #bf2130;
  text-decoration: underline;
}
.controller-artist_like.on-single .profile,
.controller-artists.on-single .profile
{
  float: left;
  width: 500px;
  margin-right: 50px;
}
.controller-artist_like.on-single .profile .img,
.controller-artists.on-single .profile .img
{
  position: relative;
  max-width: 100%;
  height: 350px;
  background-color: #bf2130;
  background-size: cover;
  background-position: center;
}
.controller-artists.on-single .profile .music_genre_logo
{
  background-image: url("/assets/news_new.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75px auto;
  height: 75px;
  right: -20px;
  position: absolute;
  top: -30px;
  width: 75px;
}
.controller-artist_like.on-single .contacts .left,
.controller-artists.on-single .contacts .left
{
  float: left;
}
.controller-artist_like.on-single .contacts .right,
.controller-artists.on-single .contacts .right
{
  float: right;
}
.controller-artist_like.on-single .contacts h4,
.controller-artists.on-single .contacts h4
{
  color: #231a1d;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 15px;
}
.controller-artist_like.on-single .social_links,
.controller-artists.on-single .social_links
{
  line-height: 0;
}
.controller-artist_like.on-single .contact_entry,
.controller-artists.on-single .contact_entry
{
  color: #231a1d;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.controller-artists.on-single .player
{
  margin: 40px 0;
}
.controller-artist_like.on-single .bio,
.controller-artists.on-single .bio
{
  width: 450px;
  float: left;
  margin-top: 50px;
  margin-bottom: 60px;
}
.controller-artist_like.on-single .bio .title,
.controller-artists.on-single .bio .title
{
  text-align: center;
}
.controller-artist_like.on-single .bio .title h2,
.controller-artists.on-single .bio .title h2
{
  font-size: 30px;
  margin: 30px 0;
  display: inline-block;
  position: relative;
  padding-left: 27px;
  color: #231a1d;
}
.controller-artist_like.on-single .bio .title h2:before,
.controller-artists.on-single .bio .title h2:before
{
  content:"";
  position: absolute;
  background-image: url("/assets/oakleaf.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 25px;
  width: 24px;
  display: inline-block;
  top: 17px;
  left: 0;
}
.controller-artist_like.on-single .bio p,
.controller-artists.on-single .bio p
{
  font-size: 14px;
  line-height: 22px;
  color: #231a1d;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-artist_like.on-single h1,
  .controller-artists.on-single h1
  {
    text-align: center;
  }
  .controller-artist_like.on-single .profile,
  .controller-artists.on-single .profile
  {
    float: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .controller-artist_like.on-single .bio,
  .controller-artists.on-single .bio
  {
    float: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

/* Media Queries for MOBLILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-artists.on-single .profile,
  .controller-artists.on-single .bio {
    width: 100%;
  }
}
.controller-buy.container {
  margin-top: -160px;
}
.controller-classifieds.container {
  margin-top: -160px;
}
.controller-classifieds .classifieds_wrap {
  margin-top: 35px;
  display: inline-block;
  width: 100%;
}
.controller-classifieds .classifieds {
  border-top: #bf2130 solid 6px;
  margin-top: 20px;
  padding-top: 40px;
  position: relative;
  margin-bottom:90px;
}
.controller-classifieds .classifieds_item {
  background-color: #e7e7e7;
  min-height: 150px;
  height: auto;
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
}
.controller-classifieds .classifieds_item .left {
  float: left;
  width: 200px;
}
.controller-classifieds .classifieds_item .right {
  float: right;
  position: relative;
  height: 150px;
  width: 755px;
  overflow: hidden;
}
.controller-classifieds .classifieds_item.expand .right
{
  height: auto;
}
.controller-classifieds [data-view="tiles"] .classifieds_item
{
  width: 230px;
  float: left;
  margin-right: 25px;
}
.controller-classifieds [data-view="tiles"] .left,
.controller-classifieds [data-view="tiles"] .right
{
  float: none;
  width:200px;
}
.controller-classifieds [data-view="tiles"] .more_link
{
  display: none;
}


.controller-classifieds .classifieds_item .category_tag {
  background-color: #bf2130;
  border-radius: 6px;
  line-height: 26px;
  position: absolute;
  right: -10px;
  top: -22px;
  padding: 0 15px 4px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.controller-classifieds .created_at {
  margin-top: 5px;
  font-family: aller, sans-serif;
  font-size: 12px;
  color: #929292;
}
.controller-classifieds .left .created_at {
  display: none;
}

.controller-classifieds .left .img {
  width: 200px;
  min-height: 150px;
  background-color: #bf2130;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}


.controller-classifieds .right a
{
  text-decoration: none;
}
.controller-classifieds .right h2
{
  color: #bf2130;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: 6px;
  text-transform: capitalize;
}
.controller-classifieds .right p
{
  width: 100%;
  font-size: 14px;
  height: 6.5em;
  overflow: hidden;
  text-align: justify;
}
.controller-classifieds .classifieds_item .right .more_link
{
  float: right;
}
.controller-classifieds .classifieds_item.expand .more_link
{
  opacity: 0;
  pointer-events: none;
}
@media only screen and (min-width: 1025px) {
  .controller-classifieds [data-view="tiles"] .classifieds_item:nth-child(4n)
  {
    margin-right:0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .controller-classifieds [data-view="tiles"] .classifieds_item {
    margin-right: 20px;
}
  .controller-classifieds [data-view="tiles"] .classifieds_item:nth-child(3n)
  {
    margin-right:0;
  }
}

/* Media Queries for TABLETS / MEDIUM sized screens */
@media only screen and (max-width: 1024px) {
  .controller-classifieds .classifieds_item .right {
    width: 100% !important;
    margin-top: 15px;
  }
}
/* Media Queries for MOBILE / SMALL sized screens */
@media only screen and (max-width: 768px) {
  .controller-classifieds {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .controller-classifieds.container {
    margin-top: -130px;
  }
  .controller-classifieds .view_controls {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 500px) {
  .controller-classifieds .classifieds .category_tag p {
    font-size: 14px;
    line-height: 1.7em;
  }
  .controller-classifieds .left .img {
    width: 100%;
  }
  .controller-classifieds .right h2 {
    font-size: 26px;
  }
  .controller-classifieds .view_controls .filter,
  .controller-classifieds .view_controls .sorting,
  .controller-classifieds .view_controls .view_as {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
  }
}
.controller-classifieds form
{
  margin-top: 100px;
}
.controller-classifieds form input[type="file"]
{
  display: none;
}
.controller-classifieds form h2
{
  color: #231a1d;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 470px;
  margin-bottom: 20px;
}
.controller-classifieds form .form-item
{
  margin: 20px 0;
}
.controller-classifieds form .form-item label
{
  font-size: 13px;
  font-weight: bold;
  padding-left: 20px !important;
  text-align: right;
  width: 150px;
  line-height: 35px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.controller-classifieds form .form-item textarea,
.controller-classifieds form .form-item input,
.controller-classifieds form .form-item select
{
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  font-weight: bold;
  font-size: 12px;
}
.controller-classifieds form .form-item input,
.controller-classifieds form .form-item select
{
  line-height: 35px;
  padding: 3px 8px;
  min-width: 300px;
}
.controller-classifieds form .form-item select
{
  height: 45px;
}
.controller-classifieds form .form-item textarea
{
  min-width: 500px;
  min-height: 150px;
  font-family: aller, sans-serif;
  padding: 8px;
  resize: none;
}
.controller-classifieds form .form-item textarea:focus,
.controller-classifieds form .form-item input:focus,
.controller-classifieds form .form-item select:focus
{
  border-color: #bf2130;
}
.controller-classifieds form .form-item .note
{
  color: #8c8585;
  font-size: 14px;
  overflow: hidden;
  max-width: 400px;
  margin-top: 20px;
  margin-left: 194px;
}

.controller-classifieds form .image_wrap
{
  margin-left: 190px;
}
.controller-classifieds form .image_item
{
  display: inline-block;
  border: 5px solid white;
  border-radius: 6px;
  margin-bottom: 30px;
}

.controller-classifieds form .image_item .img
{
  width: 160px;
  height: 160px;
}


/* Media Queries for MOBILE / SMALL sized screens */
@media only screen and (max-width: 768px)
{
  .controller-classifieds form
	{
    margin-top: 140px;
  }
  .controller-classifieds form input[type=submit]
	{
    float: none;
  }
  .controller-classifieds form h2
	{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .controller-classifieds form .form-item
	{
    width: 100%;
  }
  .controller-classifieds form .form-item label
	{
    display: block;
    text-align: left;
    padding: 0 !important;
    margin: 0;
  }
  .controller-classifieds form .form-item textarea,
	.controller-classifieds form .form-item input
	{
    min-width: 300px;
    width: 100%;
    padding: 0;
  }
  .controller-classifieds form .form-item .note
	{
    margin-left: 0;
    width: 300px;
  }
}
header.controller-classifieds.action-show
{
  height: 60px;
}

.controller-classifieds.action-show.container
{
  margin-top: 90px;
}

.controller-classifieds.action-show .right,
.controller-classifieds.action-show .right p
{
  height: auto;
}

.controller-classifieds.action-show span.red
{
  color: #bf2130;
}

.controller-classifieds.action-show .classifieds_item .iframe
{
  margin-top: 30px;
  margin-bottom: 30px;
}
.controller-classifieds.action-show .classifieds_item .soundcloud
{
  margin-bottom: 30px;  
}

.controller-classifieds.action-show .image_item
{
  display: inline-block;
  border: 5px solid white;
  border-radius: 6px;
  margin-bottom: 30px;
}

.controller-classifieds.action-show .image_item .img
{
  width: 160px;
  height: 160px;
}
.template
{
  display: none;
}
.container h1
{
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin-bottom: 80px;
}
.date
{
  width: 60px;
  margin-right: 20px;
  letter-spacing: 0.25px;
  color: #ffffff;
  text-align: center;
}
.date .day
{
  height: 53px;
  font-weight: bold;
  font-size:18px;
  line-height: 53px;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  background-position: -14px 0;
}
.date .month
{
  height: 40px;
  font-weight: bold;
  font-size:14px;
  line-height: 38px;
  background-color: #231A1D;
  text-transform: uppercase;
}

.festival_item h2,
.news_item h2
{
 // width: 470px;
 // white-space: nowrap;
 // overflow: hidden;
 // text-overflow: ellipsis;
  display: inline-block;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #231a1d;
}
.news_item h2
{
  text-transform: uppercase;
}
.news_item .text
{
  font-size: 14px;
  line-height: 22px;
  color: #8c8585;
  height: 44px;
  overflow: hidden;
}
.news_item .text p
{
  margin: 0;
}
.classifieds_item a.more_link,
.news_item a
{
  font-weight: bold;
  line-height: 22px;
  font-size: 14px;
  color: #bf2130;
  text-decoration: none;
  cursor: pointer;
}
.classifieds_item a.more_link:hover,
.news_item a:hover
{
  text-decoration: underline;
}
.festival_item,
.news_item
{
  margin-bottom: 40px;
}
.festival_item .date,
.news_item .date
{
  float: left;
  margin-top: 7px;
}
.festival_item .content,
.news_item .content
{
  width: 470px;
  float: left;
  margin-top: -7px;
}
.container form input[type="submit"]
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  font-family: aller, sans-serif;
  border-radius: 7px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  height: 56px;
  padding-bottom:6px;
  line-height: 48px;
  text-align: center;
  width: 190px;
  border: 0;
  margin-bottom: 30px;
  cursor: pointer;
}
.controller-sessions.action-new.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-sessions.action-new.container h1
{
  margin-bottom:140px;
}
.sign_in_dialog
{
  text-align:center;

  margin-bottom:60px;
}
.sign_in_btn
{
  margin-top: 10px;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 29px auto;
  border-radius: 3px;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.sign_in_btn.facebook
{
  background-image:url("/assets/facebook_white.svg");
  background-color:#3b5998;
}
.sign_in_btn.twitter
{
  background-image:url("/assets/twitter_white.svg");
  background-color:#55acee;
}
.button
{
  position: relative;
  display: inline-block;
  height: 62px;
  width: 190px;
  border: 0;
  margin-bottom: 30px;
  cursor: pointer;
}
.button.small
{
  height: 42px;
  width: 150px;
}

.button:before
{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width: 190px;
  height: 56px;
  border-radius: 7px;
  background-color: #941723;
}
.button.small:before
{
  width: 150px;
  height: 36px;
}
.button:after
{
  content: attr(title);
  position: absolute;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  border-radius: 7px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  height: 56px;
  line-height: 48px;
  text-align: center;
  width: 190px;
  top:0;
  left:0;
  transition: top 0.1s ease-in-out 0s;
  -webkit-transition: top 0.1s ease-in-out 0s;
}
.button.small:after
{
  width: 150px;
  height: 36px;
  font-size: 18px;
  line-height: 32px;
}
.button:active:after
{
  top:6px;
}

.button[disabled="disabled"]
{
  pointer-events: none;
}
.button[disabled="disabled"]:before
{
  background-color: #ccc;
}
.button[disabled="disabled"]:after
{
  background-color: #E7E7E7;
  background-image: none;
}
.delete_link
{
  float: right;
}
.underline
{
  position: relative;
  margin-bottom: 25px;
}
.underline:after
{
  position:absolute;
  bottom: -13px;
  left: 0;
  width: 28px;
  height: 6px;
  content: "";
  background-color:#BD2130;
}

.social_links a:hover,
.social_links a
{
  text-decoration: none!important;
  margin-right: 8px;
}
.social_links .social_icon
{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.social_links a:last-child
{
  margin-right: 0;
}
.social_links .facebook .social_icon
{
  background-image: url("/assets/facebook.svg");
}
.social_links .twitter .social_icon
{
  background-image: url("/assets/twitter.svg");
}
.social_links .draugiem .social_icon
{
  background-image: url("/assets/draugiem.svg");
}
.social_links .spotify .social_icon
{
  background-image: url("/assets/spotify.svg");
}

.social_links .facebook .social_icon.black
{
  background-image: url("/assets/facebook_black.svg");
}
.social_links .twitter .social_icon.black
{
  background-image: url("/assets/twitter_black.svg");
}
.social_links .draugiem .social_icon.black
{
  background-image: url("/assets/draugiem_black.svg");
}
.social_links .spotify .social_icon.black
{
  background-image: url("/assets/spotify_black.svg");
}

.view_controls
{
  margin-bottom: 2px;
}
.view_controls >div
{
  float: right;
}
.view_controls .filter
{
  float: left;
}
.view_controls a
{
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #bf2130;
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.view_controls a.active
{
  opacity: 1;
}
.view_controls .filter a
{
  margin-right: 10px;
}
.view_controls .view_as a
{
  margin-left: 15px;
}
.view_controls .sorting a
{
  margin-right: 20px;
}
.view_controls .tiles,
.view_controls .list
{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.view_controls .tiles
{
  background-image: url("/assets/tiles.svg");
}
.view_controls .list
{
  background-image: url("/assets/list.svg");
}

.side_navigation
{
  float: left;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  margin-right: 30px;
  padding-bottom: 40px;
  padding-top: 80px;
  text-align: center;
  width: 250px;
}
.mobile .side_navigation
{
  position: relative;
}

.side_navigation ul
{
  padding: 20px 0;
}
.side_navigation li
{
  cursor: pointer;
  padding-left: 23px;
}
.side_navigation .links
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  background-position: 137% -180%;
  background-size: 240% auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 40px;
  text-align: left;
  width: 250px;
}
.side_navigation a
{
  text-decoration: none;
  color:#FFFFFF;
}
.side_navigation a:hover,
.side_navigation a.active
{
  color:#231a1d;
}

.sub_navigation
{
  border-top: solid 6px #bf2130;
  margin-bottom: 100px;
}
.sub_navigation a
{
  color: #231a1d;
  text-decoration: none;
  font-weight: bold;
}
.sub_navigation a:hover
{
  color: #bf2130;
  text-decoration: underline;
}
.sub_navigation .back
{
  float: left;
}
.sub_navigation .next
{
  float: right;
}

.sub_navigation .form_submit
{
  text-align: center;
  padding: 25px 0;
  line-height: 2em;
  margin-bottom: -80px;
}
.sub_navigation .form_submit a
{
  color: #bf2130;
  font-weight: normal;
}
.user_data
{
  color: #bf2130;
  text-align: right;
  margin-bottom: 30px;
}
.on-single .user_data
{
  margin-top: -30px;
  margin-bottom: 50px;
}
.user_data span
{
  padding-left: 10px;
}
.user_data a
{
  color: #bf2130;
  text-decoration: none;
}
.user_data a:hover
{
  text-decoration: underline;
}
.user_data .user_image
{
  vertical-align: text-bottom;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}
.pagination
{
  text-align: center;
  position:absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
}

.pagination > *
{
  background-color: #bf2130;
  border-radius: 3px;
  color: white;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  width: 24px;
}
.pagination .current
{
  font-style: normal;
  position: relative;
}
.pagination .current:after
{
  background-color: #bf2130;
  bottom: -5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
.pagination > .disabled
{
  display: none;
}

.newsletter .duplicate_msg,
.newsletter .success_msg,
.newsletter.success form
{
  display: none;
}
.newsletter.duplicate .duplicate_msg
{
  display: block;
}
.newsletter.success .success_msg
{
  display: block;
}

.share_buttons
{
  margin-top: 20px;
}
.btn
{
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  background-color:#BF2030;
  line-height: 45px;
  vertical-align: middle;
}
.btn.draugiem
{
  background-image: url("/assets/draugiem_white.svg");
  background-position: 10px 10px;
}
.btn.facebook
{
  background-image: url("/assets/facebook_white_alt.svg");
  background-position: 16px 10px;
  background-size: 13px 23px;
}
.btn.twitter
{
  background-image: url("/assets/twitter_white.svg");
  background-position: 12px center;
  background-size: 23px 19px;
}


@media only screen and (max-width : 1024px)
{
  .sub_navigation {
    width: 100%;
  }
  .view_controls
  {
    margin-right: 26px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  /* Typography rules for mobile */
  .container {
    width: 360px;
  }
  body {
    font-size: 100%;
  }
  .container h1 {
    font-size: 32px;
    line-height: 1.25em;
  }
  .container h2 {
    font-size: 22px;
  }
  .container h3 {
    font-size: 20px;
  }
  .container h4 {
    font-size: 18px;
  }
  .container p {
    font-size: 16px;
    line-height: 1.25em;
  }
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.controller-contacts.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-contacts .contacts_wrap a
{
  text-decoration: none;
  color: #bf2130;
}
.controller-contacts .contacts_wrap a:hover
{
  text-decoration: underline;
}
.controller-contacts .contacts_wrap h4
{
	color: #231a1d;
	text-transform: capitalize;
	font-size: 18px;
}
.controller-contacts .contacts_wrap
{
	padding-top: 80px;
	min-height: 400px;
}
.controller-contacts .contacts_wrap > div
{
	float: left;
  margin-right: 150px;
}
.controller-contacts .contacts_wrap .social_links
{
	margin-right: 0;
}

.controller-contacts .contacts_wrap .newsletter input[type="email"]
{
  border: 1px solid #231a1d;
  color: #231a1d;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 26px;
  padding: 5px 10px;
  vertical-align: bottom;
  width: 230px;
}
.controller-contacts .contacts_wrap .newsletter input[type="submit"]
{
	background-color: #bf2130;
	background-image: url("/assets/pattern.svg");
	background-position: 91% bottom;
	background-size: 263% auto;
	border: 0 none;
	color: #231a1d;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.25px;
	line-height: 24px;
	margin-top: 10px;
	padding: 7px 27px 7px;
	text-transform: uppercase;
  display: block;
  width: auto;
  height: auto;
  border-radius: 0;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
	.controller-contacts .contacts_wrap > div
  {
		float: none;
    padding-bottom: 50px;
	}
}
.controller-contacts.on-single form textarea
{
  width: 100%;
  height: 200px;
  resize: vertical;
  font-family: aller, sans-serif;
}
.controller-contacts.on-single form label
{
  margin-bottom: 5px;
}
.controller-contacts.on-single form .field_wrap
{
  margin-bottom: 20px;
}
.controller-errors.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-festivals.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-festivals .lms
{
  padding-top: 70px;
  margin-left: 20px;
  float: left;
  width: 175px;
  margin-right: 30px;
}

.controller-festivals .lms_logo_image
{
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 196px;
  width: 200px;
  margin-bottom: 30px;
}
.controller-festivals .lms_logo_image.red
{
    background-image: url("/assets/lms_logo_red.svg");
}
.controller-festivals .festivals
{
  float: left;
  border-left: 3px solid #231A1D;
  margin-left: 80px;
  padding-left: 20px;
  margin-top: 70px;
  margin-bottom: 140px;
}
.controller-festivals .festival_item h2
{
  margin-top: 30px;
}
.controller-festivals .festivals > .month:first-child
{
  margin-top: 8px;
}
.controller-festivals .festivals > .month
{
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-left: -120px;
  margin-top: -35px;
  text-align: right;
  text-transform: uppercase;
  width: 90px;
}
.controller-festivals .festivals .festival_item
{
  position: relative;
}
.controller-festivals .festivals .festival_item:after
{
  background-color: #231a1d;
  border-radius: 100%;
  content: "";
  height: 12px;
  left: -27.5px;
  position: absolute;
  top: 52px;
  width: 12px;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-festivals .lms
  {
    display: none;
  }
  .controller-festivals .festivals
  {
    margin-left: 110px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-festivals .festivals {
    margin-left: 0;
  }
  .controller-festivals.container {
    margin-top: -130px;
  }
  .controller-festivals .festivals  > .month {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .festival_item .content {
    width: 300px;
  }
  .festival_item .content h2 {
    width: 300px;
    /*margin-top: 15px;*/
  }
  .festival_item p {
    height: 42px;
  }
}
footer
{
  width: 100%;
  background-color: #231A1D;
  color: #9c9c9c;
  letter-spacing: 0.25px;
}
footer .footer_wrap
{
  width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}
footer a
{
  color: #9c9c9c;
  text-decoration: none;
}
footer a:hover
{
  color: #BD2130;
  text-decoration: underline;
}
footer h4
{
  color: #f4f4f4;
  text-transform: capitalize;
  font-size: 18px;
}
footer h4 span
{
  color: #BD2130;
}
footer .page_footer > div
{
  float: left;
}
footer .latest_news
{
  width: 390px;
  margin-right: 130px;
}
footer .newsletter
{
  width: 280px;
  margin-right: 100px;
}
footer .newsletter input[type="email"]
{
  border: 0 none;
  color: #231a1d;
  padding: 5px 10px;
  width: 230px;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.25px;
}
footer .newsletter input[type="submit"]
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  background-position: 91% bottom;
  background-size: 263% auto;
  border: 0 none;
  color: #231a1d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 24px;
  margin-top: 10px;
  padding: 5px 27px 8px;
  text-transform: uppercase;
  cursor: pointer;
}
footer .newsletter ::-webkit-input-placeholder {
   color: #231a1d;
}

footer .newsletter :-moz-placeholder { /* Firefox 18- */
   color: #231a1d;
}

footer .newsletter ::-moz-placeholder {  /* Firefox 19+ */
   color: #231a1d;
}

footer .newsletter :-ms-input-placeholder {
   color: #231a1d;
}

footer .latest_news a
{
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}


footer .branding
{
  padding-top: 100px;
  padding-bottom: 25px;
  font-size: 12px;
  line-height: 24px;
}
footer .branding .copy
{
  float:left;
}
footer .branding .jveart
{
  float:right;
  vertical-align: sub;
}
footer .jveart .img
{
  height: 20px;
  width: 50px;
  display: inline-block;
  background-image: url("/assets/jveart_logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  footer .footer_wrap
  {
    width: 570px;
  }
  footer .latest_news
  {
    display: none;
  }
  footer .page_footer .social_links
  {
    float:right;
  }
  footer .branding
  {
    padding-top: 45px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  footer .footer_wrap
  {
    width: 300px;
  }
  footer .newsletter, .social_links
  {
    width: 100%;
    margin: 0;
  }
  footer .social_links
  {
    margin-top: 30px;
  }
  footer .branding
  {
    font-size: 10px;
    padding-top: 25px;
  }
}
.controller-history.container
{
  letter-spacing: 0.25px;
  margin-top: -160px;
}

.controller-history .content_wrap
{
  float: left;
  margin-bottom: 80px;
  margin-top: 35px;
  width: 700px;
}
.controller-history .content_wrap .img_title
{
  background-image: url("/assets/dns.svg");
  background-size: 100% auto;
  height: 235px;
  margin: 60px auto;
  width: 407px;
}
.controller-history .content_wrap .content_item
{
  margin-bottom: 30px;
}
.controller-history .content_wrap .content_item .item_content
{
  float: left;
  width: 550px;
}
.controller-history .content_wrap .content_item .item_content h2
{
  color: #231a1d;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}
.controller-history .content_wrap .content_item .item_content p
{
  color: #8c8585;
  font-size: 14px;
  line-height: 22px;
}
.controller-history .content_wrap .content_item .img_thumbnail
{
  float: left;
  height: 120px;
  margin-right: 30px;
  width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.controller-history .content_wrap .content_item .img_thumbnail.milda
{
  background-image: url("/assets/briviba.svg");
}
.controller-history .content_wrap .content_item .img_thumbnail.gaismasp
{
  background-image: url("/assets/gaismasp.svg");
}
.controller-history .content_wrap .content_item .img_thumbnail.elements
{
  background-image: url("/assets/elements.svg");
}
.controller-history .content_wrap .content_item .img_thumbnail.dzsv
{
  background-image: url("/assets/dzsv.svg");
}
@media only screen and (min-width: 768px) and (max-width: 1024px)
{
  .controller-history.container
  {
    width: 768px;
  }
  .controller-history .sections_wrap
  {
    padding-top: 0;
    width: 100%;
  }
  .controller-history .sections_wrap .sections
  {
    margin: 30px auto;
  }
}
.controller-home.container
{
  margin-top: -160px;
}
.controller-home h2
{
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #231a1d;
}
.controller-home .latest_news
{
  width: 550px;
  margin-right: 90px;
  float: left;
  letter-spacing: 0.25px;
  padding-top: 140px;
  padding-bottom: 60px;
  position: relative;
}
.controller-home .latest_news .news_logo
{
  background-image: url("/assets/news_new.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75px auto;
  height: 75px;
  left: 14px;
  position: absolute;
  top: 92px;
  width: 75px;
}
.controller-home .sidebar
{
  width: 360px;
  float: left;
  margin-top: 35px;
}
.controller-home .sidebar h2
{
  text-align: center;
  margin-bottom: 30px;
}
.controller-home .sidebar .player
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  padding: 0 20px 30px;
}
.controller-home .sidebar .player h1
{
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 1.4em;
  padding: 20px 0 30px;
  margin-bottom: 0;
}
.controller-home .sidebar .player h1 a
{
  text-decoration: none;
  color: #fff;
}
.controller-home .sidebar .player iframe
{
  max-width: 100%;
  margin-bottom: 30px;
}
.controller-home .sidebar .img
{
  background-color: #bf2130;
  width:100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-home .latest_news
  {
    float: none;
    margin: 0 auto;
    width: 550px;
  }
  .controller-home .sidebar {
    margin: 0 auto;
    width: 550px;
    float: none;
    padding-bottom: 40px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-home.container {
    margin-top: -130px;
    width: 300px;
  }
  .controller-home .latest_news {
    padding-bottom: 20px;
    padding-top: 80px;
    margin-right: 0;
    width: 100%;
  }
  .controller-home .latest_news .news_logo {
    top: 42px;
  }
  .controller-home .news_item .content {
    width: 100%;
  }
  .news_item .date {
    margin-bottom: 15px;
  }
}
.controller-news.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}

.controller-news .latest_news
{
  position: relative;
  float: left;
  border-left: 3px solid #231A1D;
  margin-left: 80px;
  padding-left: 20px;
  margin-top: 75px;
  margin-bottom: 140px;
}
.controller-news .latest_news > .month:first-child
{
  margin-top: 8px;
}
.controller-news .latest_news > .month
{
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-left: -120px;
  margin-top: -35px;
  text-align: right;
  text-transform: uppercase;
  width: 90px;
}
.controller-news .latest_news .news_item
{
  position: relative;
}
.controller-news .latest_news .news_item:after
{
  background-color: #231a1d;
  border-radius: 100%;
  content: "";
  height: 12px;
  left: -27.5px;
  position: absolute;
  top: 52px;
  width: 12px;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-news .side_navigation
  {
    display: none;
  }
  .controller-news .latest_news
  {
    margin-left: 110px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-news .latest_news {
    margin-left: 0;
  }
  .controller-news.container {
    margin-top: -130px;
  }
  .controller-news .latest_news  > .month {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .news_item .content {
    width: 300px;
  }
  .news_item .content h2 {
    width: 300px;
    /*margin-top: 15px;*/
  }
  .news_item p {
    height: 42px;
  }
}
.controller-news.on-single form textarea
{
  width: 100%;
  height: 500px;
  resize: vertical;
  font-family: aller, sans-serif;
}

header.controller-news.action-new,
header.controller-news.action-edit,
header.controller-news.action-show
{
  height: 60px;
}
.controller-news.action-new.container,
.controller-news.action-edit.container,
.controller-news.action-show.container
{
  margin-top: 0;
}
.controller-news.action-new .news_wrap,
.controller-news.action-edit .news_wrap,
.controller-news.action-show .news_wrap
{
  width: 800px;
  margin: 0 auto;
}
.controller-news.action-new .news_wrap a,
.controller-news.action-edit .news_wrap a,
.controller-news.action-show .news_wrap a
{
  text-decoration: none;
  color: #bf2130;
}
.controller-news.action-new .news_wrap a:hover,
.controller-news.action-edit .news_wrap a:hover,
.controller-news.action-show .news_wrap a:hover
{
  text-decoration: underline;
}
.controller-news.action-new .date,
.controller-news.action-edit .date,
.controller-news.action-show .date
{
  float: left;
  margin-top: 40px;
}
.controller-news.action-new .title_wrap,
.controller-news.action-edit .title_wrap,
.controller-news.action-show .title_wrap
{
  margin-top: 40px;
  width: 720px;
  float: left;
  line-height:83px;
  vertical-align:center;
}
.controller-news.action-new .title,
.controller-news.action-edit .title,
.controller-news.action-show .title
{
  display: inline-block;
  vertical-align: middle;
}
.controller-news.action-new .content,
.controller-news.action-edit .content,
.controller-news.action-show .content
{
  margin-left: 80px;
  width: 720px;
  margin-bottom: 100px;
  margin-top: 40px;
}
.controller-news.action-new h2,
.controller-news.action-edit h2,
.controller-news.action-show h2
{
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #231a1d;
}
.controller-news.action-new .text,
.controller-news.action-edit .text,
.controller-news.action-show .text
{
  font-size: 14px;
  line-height: 22px;
  color: #8c8585;
  margin-top: 40px;
}
.controller-news.action-new .img,
.controller-news.action-edit .img,
.controller-news.action-show .img
{
  max-width: 100%;
  height: 400px;
  background-color: #bf2130;
  background-size: cover;
  background-position: center;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px) {
  .controller-news.action-new .news_wrap,
  .controller-news.action-edit .news_wrap,
  .controller-news.action-show .news_wrap
  {
    width: 100%;
  }
  .controller-news.action-new .title,
  .controller-news.action-edit .title,
  .controller-news.action-show .title
  {
    width: 660px;
  }
  .controller-news.action-new .content,
  .controller-news.action-edit .content,
  .controller-news.action-show .content
  {
    margin: 40px auto 60px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-news.action-show .content
  {
    width: 100%;
  }
/*  .controller-news.action-show .img {
    width: 100%;
    height: auto;
  }*/
  .controller-news.action-show .title
  {
    width: 100%;
  }
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}q{quotes:none}q:before,q:after{content:'';content:none}sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.controller-subscribers.container
{
	margin-top: -160px;
  /*text-align: justify;*/
}

.controller-subscribers table
{
  margin-top: 120px;
  margin-bottom: 30px;
}

.controller-subscribers th,
.controller-subscribers td
{
  padding: 5px 10px;
  border: 1px solid;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{

}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-subscribers.container
  {
    margin-top: -130px;
    width: 90%;
  }

}
/* Preload images */

body:after {
  content: url(/assets/lightbox/close-5d62e6c90005bfb71f6abb440f9e4753681cb23bbd5e60477ab6f442d2f0e69c.png) url(/assets/lightbox/loading-225aa88b6ab02c06222ec9468d62e15fa188e39cdb9431d1f55401ad380753ed.gif) url(/assets/lightbox/prev-7fd9273f20fdb1229c224341271a119020a5eee74ccf6b4605730917c864caf2.png) url(/assets/lightbox/next-15b869b02c6fbaa8c6c26445a2dd2d9bad80fd27b1409f8179e5dd89dc89d90a.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/assets/lightbox/loading-225aa88b6ab02c06222ec9468d62e15fa188e39cdb9431d1f55401ad380753ed.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(/assets/lightbox/prev-7fd9273f20fdb1229c224341271a119020a5eee74ccf6b4605730917c864caf2.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(/assets/lightbox/next-15b869b02c6fbaa8c6c26445a2dd2d9bad80fd27b1409f8179e5dd89dc89d90a.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(/assets/lightbox/close-5d62e6c90005bfb71f6abb440f9e4753681cb23bbd5e60477ab6f442d2f0e69c.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */


@font-face {
    font-family: 'aller_display';
    src: url('/assets/allerdisplay-webfont.eot');
    src: url('/assets/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/allerdisplay-webfont.woff') format('woff'),
         url('/assets/allerdisplay-webfont.ttf') format('truetype'),
         url('/assets/allerdisplay-webfont.svg#aller_display') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_lt-webfont.eot');
    src: url('/assets/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_lt-webfont.woff') format('woff'),
         url('/assets/aller_lt-webfont.ttf') format('truetype'),
         url('/assets/aller_lt-webfont.svg#aller') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_bdit-webfont.eot');
    src: url('/assets/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_bdit-webfont.woff') format('woff'),
         url('/assets/aller_bdit-webfont.ttf') format('truetype'),
         url('/assets/aller_bdit-webfont.svg#aller') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_bd-webfont.eot');
    src: url('/assets/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_bd-webfont.woff') format('woff'),
         url('/assets/aller_bd-webfont.ttf') format('truetype'),
         url('/assets/aller_bd-webfont.svg#aller') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_rg-webfont.eot');
    src: url('/assets/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_rg-webfont.woff') format('woff'),
         url('/assets/aller_rg-webfont.ttf') format('truetype'),
         url('/assets/aller_rg-webfont.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_ltit-webfont.eot');
    src: url('/assets/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_ltit-webfont.woff') format('woff'),
         url('/assets/aller_ltit-webfont.ttf') format('truetype'),
         url('/assets/aller_ltit-webfont.svg#aller') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_it-webfont.eot');
    src: url('/assets/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_it-webfont.woff') format('woff'),
         url('/assets/aller_it-webfont.ttf') format('truetype'),
         url('/assets/aller_it-webfont.svg#aller') format('svg');
    font-weight: normal;
    font-style: italic;
}

html,body
{
	font-family: aller, sans-serif;
  width: 100%;
  height: auto;
  /*overflow-x: hidden; /*removes white space on the right side*/*/
}

::selection
{
	background: #f4f4f4; /* Safari */
	color: #231a1d;
}
::-moz-selection {
	background: #f4f4f4; /* Firefox */
	color: #231a1d;
}

.clear
{
	clear: both;
	float: none!important;
	margin: 0 !important;
  padding: 0 !important;
	height: 0px !important;
  width: 0px !important;
  border: 0px !important;
}

header
{
  background-attachment: fixed;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  height: 225px;
  width: 100%;
}


.nav_bg
{
  background-attachment: fixed;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index: 99;
}

.nav_wrap
{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  min-height: 60px;
}
.nav_wrap .logo
{
  background-image: url("/assets/logo_black.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 57px;
  margin-left: 15px;
  width: 93px;
  position: absolute;
  top: 0;
  left: 0;
}
nav
{
  display: inline-block
}
.language_select ul ul,
nav ul ul
{
  background-color:white;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 55px;
  width: 220px;
  padding-bottom: 5px;
  transition: opacity 0.2s ease-in-out 0s;
  -webkit-transition: opacity 0.2s ease-in-out 0s;
  text-align: left;
}
.language_select ul ul
{
  width: 70px;
}
nav>ul>li.show_submenu ul
{
  margin-left: 0;
  width: 100%;
}
.language_select>ul>li.show_submenu ul,
nav>ul>li.show_submenu ul
{
  opacity: 1;
  pointer-events: auto;
  text-align: center;
}
.language_select>ul>li,
nav>ul>li
{
  display:inline-block;
  position:relative;
  height: 60px;
}

.language_select a,
nav a
{
	color: #231a1d;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.25px;
  padding: 14px 16px;
  text-decoration: none;
}
.language_select>ul>li>a
{
  padding: 14px 0;
}
nav a.active,
nav a:hover
{
	color: #F3F1F2;
}
.language_select ul ul a,
nav ul ul a
{
  display: block;
  padding: 3px 16px;
}
.language_select ul ul a.active,
.language_select ul ul a:hover,
nav ul ul a.active,
nav ul ul a:hover
{
  color: #bf2130;
}
.nav_wrap .language_select
{
  height: 60px;
  position: absolute;
  right: 10px;
  top: 0;
}
.nav_wrap .language_select>ul>li>a
{
  background-image: url("/assets/language.svg");
  background-position: left 12px;
  background-repeat: no-repeat;
  background-size: 35px auto;
  color: #231a1d;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 30px;
  padding-left: 45px;
  cursor: pointer;
}

.nav_wrap .search
{
  background-image: url("/assets/search.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 35px auto;
  color: #231a1d;
  height: 38px;
  position: absolute;
  right: 80px;
  top: 13px;
  width: 40px;
  cursor: pointer;
}
.nav_bg .search_bar
{
  width: 100%;
  height:0;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0.1s;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
}
.container > h1
{
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0s;
  -webkit-transition: opacity 0.1s ease-in-out 0s;
}
.search_active .container > h1
{
  opacity: 0;
}
.search_active .nav_bg .search_bar
{
  height:100px;
}
.nav_bg .search_bar .search_input
{
  background-color: transparent;
  border: 0 none;
  color: #fff;
  display: block;
  font-family: aller, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 33px auto 10px;
  max-width: 100%;
  width: 520px;
  outline: none;
  /*border-bottom: 2px solid #23191D;*/
}
.nav_bg .search_bar ::-webkit-input-placeholder {
   color: white;
   opacity: 1;
}

.nav_bg .search_bar :-moz-placeholder { /* Firefox 18- */
   color: white;
   opacity: 1;
}

.nav_bg .search_bar ::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   opacity: 1;
}

.nav_bg .search_bar :-ms-input-placeholder {
   color: white;
   opacity: 1;
}
.search_error_text
{
  opacity: 0!important;
  position: absolute;
  left: 30%;
  top: 200px;
  font-weight: bold;
  font-size: 30px;
  color: #bf2130;
  pointer-events: none;
}
.search_error .search_error_text
{
  opacity: 1!important;
}
.container > *
{
  transition: opacity 0.2s ease-in-out 0.1s;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
}
.search_error .container > *
{
  opacity: 0;
}
.container
{
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.show_submenu {
    z-index: 99;
}

.mobile_show
{
  display: none;
}
.desktop_show
{
  /*text-transform: none;*/
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (min-width : 1025px)
{
  .language_select>ul>li:hover ul,
  nav>ul>li:hover ul
  {
    opacity: 1;
    pointer-events: auto;
  }
}
@media only screen and (max-width : 1024px)
{

  nav>ul>li ul
  {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .container
  {
    width: 750px;
    margin: 0 auto;
  }

  /* header styles */
  .nav_wrap .logo
  {
    margin-left: 0;
  }
  .nav_wrap
  {
    width: 100%;
  }

  .language_select a,
  nav a
  {
    padding: 14px 5px;
  }

  .mobile_show
  {
    display: block;
  }
  .desktop_show
  {
    display: none;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .container
  {
    width: 90%;
    padding: 0 10px;
  }
  .nav_wrap
  {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}
@media only screen and (max-width : 1024px)
{
  .nav_wrap .logo
  {
    display: none;
  }

  nav
  {
    margin-left: 0;
    background-color: #bf2130;
    background-image: url("/assets/pattern.svg");
    width: 100%;
    height: 0;
    transition: height 0.3s ease-in-out 0s;
    -webkit-transition: height 0.3s ease-in-out 0s;
    overflow: hidden;
  }
  nav.active
  {
    height: 355px;
  }
  .language_select>ul,
  nav>ul
  {
    padding-bottom: 5px;
  }
  .language_select>ul>li,
  nav>ul>li
  {
    display: block;
    text-align: center;
    height: 50px;
  }

  .nav_button
  {
    width:30px;
    height:30px;
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 5px;
    z-index:99;
  }
  .nav_icon:before,
  .nav_icon:after,
  .nav_icon
  {
    background-color: #fff;
    border-radius: 3px;
    display: block;
    height: 4px;
    position: relative;
    width: 30px;
    left: 0;
    top: 10px;
    transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
  }
  .nav_icon:before,
  .nav_icon:after
  {
    position: absolute;
    content: "";
  }
  .nav_icon:before
  {
    top: -10px;
  }
  .nav_icon:after
  {
    top: 10px;
  }
  .nav_button.active .nav_icon
  {
    background-color: transparent;
  }
  .nav_button.active .nav_icon:before,
  .nav_button.active .nav_icon:after
  {
    top: 0px;
    width: 32px;
  }
  .nav_button.active .nav_icon:before
  {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .nav_button.active .nav_icon:after
  {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
