@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

/*html,body
{
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	font: inherit;
}*/

.darkbg
{
	background: #6c82a2 url(../images/dark.png) repeat fixed;
}

.woodbg
{
	background: #e6cca6 url(../images/wood.png) repeat fixed;
}

.smart-wrap
{
	padding: 0 20px;
}

.smart-forms,.smart-forms *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.smart-forms
{
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	line-height: 1.231;
	font-weight: 400;
	font-size: 14px;
	color: #34495e;
}

.smart-container
{
	background: #fff;
	margin: 50px auto;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.wrap-0
{
	max-width: 952px;
}

.wrap-1
{
	max-width: 852px;
}

.wrap-2
{
	max-width: 652px;
}

.wrap-3
{
	max-width: 452px;
}

.smart-forms .section
{
	margin-bottom: 22px;
}

.smart-forms .smart-link
{
	color: #BF2130;
	text-decoration: none;
}

.smart-forms .smart-link:hover
{
	text-decoration: underline;
}

.smart-forms .tagline
{
	height: 0;
	border-top: 1px solid #d9dde5;
	text-align: center;
}

.smart-forms .tagline span
{
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	padding: 0 15px;
	background: #fff;
	color: #BF2130;
	top: -10px;
}

.smart-forms .field
{
	display: block;
	position: relative;
}

.smart-forms .field-icon i
{
	color: #a2a6a8;
	position: relative;
	top: 0;
}

.smart-forms .field-label
{
	display: block;
	margin-bottom: 7px;
}

.smart-forms .field-label.colm
{
	padding-top: 12px;
}

.smart-forms .field-label em
{
	color: #e74c3c;
	font-size: 14px;
	font-style: normal;
	display: inline-block;
	margin-left: 4px;
	position: relative;
	top: 3px;
}

.smart-forms .form-header
{
	overflow: hidden;
	position: relative;
	padding: 25px 30px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.smart-forms .form-header h4
{
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	text-align: left;
	font-weight: 300;
	font-size: 32px;
	padding: 0;
	margin: 0;
}

.smart-forms .form-header h4 i
{
	font-size: 38px;
	position: relative;
	margin-right: 10px;
	top: 2px;
}

.smart-forms .header-primary
{
	background-color: #BF2130;
	border-top: 1px solid #23e0ba;
	border-bottom: 5px solid #16a085;
}

.smart-forms .header-lite
{
	background: #f3f5fa;
	border-top: 1px solid #23e0ba;
	border-bottom: 1px solid #d9dde5;
}

.smart-forms .header-lite:before
{
	content: "";
	background-color: #BF2130;
	position: absolute;
	height: 8px;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
}

.smart-forms .header-primary h4
{
	color: #fff;
}

.smart-forms .header-lite h4
{
	color: #5d6a87;
	padding-top: 5px;
}

.smart-flat,.smart-flat .form-header
{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.smart-forms .form-body
{
	padding: 40px 30px;
	padding-bottom: 20px;
}

.smart-forms .form-footer
{
	overflow: hidden;
	padding: 20px 25px;
	padding-top: 25px;
	background: #f3f5fa url(../images/foobg.png) top left repeat-x;
}

.smart-forms input[type=search]
{
	-webkit-appearance: textfield;
}

.smart-forms ::-webkit-search-decoration,.smart-forms ::-webkit-search-cancel-button
{
	-webkit-appearance: none;
}

.smart-forms input::-webkit-input-placeholder,.smart-forms textarea::-webkit-input-placeholder
{
	color: #919da8;
}

.smart-forms input:focus::-webkit-input-placeholder,.smart-forms textarea:focus::-webkit-input-placeholder
{
	color: #d6dbe0;
}

.smart-forms input:-moz-placeholder,.smart-forms textarea:-moz-placeholder
{
	color: #919da8;
}

.smart-forms input:focus:-moz-placeholder,.smart-forms textarea:focus:-moz-placeholder
{
	color: #d6dbe0;
}

.smart-forms input::-moz-placeholder,.smart-forms textarea::-moz-placeholder
{
	color: #919da8;
	opacity: 1;
}

.smart-forms input:focus::-moz-placeholder,.smart-forms textarea:focus::-moz-placeholder
{
	color: #d6dbe0;
	opacity: 1;
}

.smart-forms input:-ms-input-placeholder,.smart-forms textarea:-ms-input-placeholder
{
	color: #919da8;
}

.smart-forms input:focus:-ms-input-placeholder,.smart-forms textarea:focus:-ms-input-placeholder
{
	color: #d6dbe0;
}

.smart-forms label,.smart-forms input,.smart-forms button,.smart-forms select,.smart-forms textarea
{
	margin: 0;
	font-size: 14px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-weight: 400;
	color: #34495e;
	outline: 0;
}

.smart-forms .gui-input,.smart-forms .gui-textarea,.smart-forms .select>select,.smart-forms input[type="button"],.smart-forms input[type="submit"],.smart-forms input[type="search"],.smart-forms .select-multiple select
{
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.smart-forms input[type="search"]::-webkit-search-decoration,.smart-forms input[type="search"]::-webkit-search-cancel-button,.smart-forms input[type="search"]::-webkit-search-results-button,.smart-forms input[type="search"]::-webkit-search-results-decoration
{
	display: none;
}

.smart-forms .switch,.smart-forms .option,.smart-forms .field-label
{
	font-size: 14px;
}

.smart-forms .radio,.smart-forms .button,.smart-forms .checkbox,.smart-forms .switch>label
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.smart-forms .radio,.smart-forms .button,.smart-forms .tooltip,.smart-forms .checkbox,.smart-forms .gui-input,.smart-forms .notification,.smart-forms .gui-textarea,.smart-forms .select>select,.smart-forms .select-multiple select,.smart-forms input[type="button"].button,.smart-forms input[type="submit"].button,.smart-forms input[type="search"].gui-input
{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	outline: 0;
}

.smart-forms .select,.smart-forms .gui-input,.smart-forms .gui-textarea,.smart-forms .select>select,.smart-forms .select-multiple select
{
	background: #fff;
	position: relative;
	vertical-align: top;
	border: 2px solid #bdc3c7;
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	color: #34495e;
	outline: 0;
	height: 42px;
	width: 100%;
	*zoom: 1;
}

.smart-forms .gui-input,.smart-forms .gui-textarea
{
	padding: 10px;
}

.smart-forms .gui-textarea
{
	resize: none;
	line-height: 19px;
	overflow: auto;
	max-width: 100%;
	height: 96px;
}

.smart-forms .input-hint
{
	padding: 10px;
	display: block;
	margin-top: -4px;
	line-height: 16px;
	position: relative;
	background: #f2f4fa;
	border: 2px solid #bdc3c7;
	border-top: 1px solid #bdc3c7;
	font-family: Arial,Helvetica,sans-serif;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	font-size: 11px;
	color: #777;
}

.smart-forms .select
{
	border: 0;
	z-index: 10;
}

.smart-forms .select>select
{
	display: block;
	padding: 9px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	text-indent: .01px;
	text-overflow: '';
	z-index: 10;
	margin: 0;
}

.smart-forms .select>select::-ms-expand
{
	display: none;
}

.smart-forms .select:before,.smart-forms .select:after
{
	content: '';
	position: absolute;
	pointer-events: none;
	z-index: 15;
}

.smart-forms .select:before
{
	top: 2px;
	right: 2px;
	width: 34px;
	bottom: 2px;
	background: #f2f4fa;
	border-left: 1px solid #d3dae7;
	-webkit-border-radius: 0 1px 1px 0;
	-moz-border-radius: 0 1px 1px 0;
	-o-border-radius: 0 1px 1px 0;
	border-radius: 0 1px 1px 0;
}

.smart-forms .select .arrow
{
	position: absolute;
	top: 9px;
	right: 5px;
	width: 24px;
	height: 24px;
	background: #f2f4fa;
	color: #b5c1c7;
	pointer-events: none;
	z-index: 16;
}

.smart-forms .select .arrow:after,.smart-forms .select .arrow:before
{
	content: '';
	position: absolute;
	font: 12px "Consolas",monospace;
	font-style: normal;
	pointer-events: none;
	left: 6px;
}

.smart-forms .select .arrow:before
{
	content: '\25BC';
	bottom: 4px;
}

.smart-forms .select .double:after
{
	content: '\25B2';
	top: -1px;
}

.smart-forms .select .double:before
{
	content: '\25BC';
	bottom: -1px;
}

.smart-forms .select-multiple select
{
	width: 100%;
	height: 123px;
	padding: 10px;
}

.smart-forms .file
{
	display: block;
	width: 100%;
}

.smart-forms .file .gui-file
{
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding: 8px 10px;
	position: absolute;
	-moz-opacity: 0;
	opacity: 0;
	z-index: 11;
	bottom: 0;
	right: 0;
}

.smart-forms .file .button
{
	position: absolute;
	top: 4px;
	right: 4px;
	float: none;
	height: 34px;
	line-height: 34px;
	padding: 0 16px;
	z-index: 10;
}

.smart-forms .gui-input:hover,.smart-forms .gui-textarea:hover,.smart-forms .select>select:hover,.smart-forms .select-multiple select:hover,.smart-forms .gui-input:hover ~ .input-hint,.smart-forms .file .gui-file:hover+.gui-input,.smart-forms .gui-textarea:hover ~ .input-hint
{
	border-color: #62d0ba;
}

.smart-forms .gui-input:focus,.smart-forms .gui-textarea:focus,.smart-forms .select>select:focus,.smart-forms .select-multiple select:focus
{
	border-color: #BF2130;
	color: #3c3c3c;
}

.smart-forms .gui-textarea:focus
{
	height: 120px;
}

.smart-forms .select>select:focus
{
	z-index: 10;
	z-index: 20\9;
}

.smart-forms .gui-input:focus ~ .field-icon i,.smart-forms .gui-textarea:focus ~ .field-icon i
{
	color: #BF2130;
}

.smart-forms .select-multiple select:focus,.smart-forms .gui-input:focus ~ .input-hint,.smart-forms .gui-textarea:focus ~ .input-hint,.smart-forms .file .gui-file:focus+.gui-input
{
	border-color: #BF2130;
}

.smart-forms .select>select:focus+.arrow
{
	color: #BF2130;
}

.smart-forms .option
{
	position: relative;
	padding-right: 15px;
	display: inline-block;
	vertical-align: middle;
}

.smart-forms .option>input
{
	position: absolute;
	height: inherit;
	width: inherit;
	opacity: 0;
	left: 0;
}

.smart-forms .checkbox,.smart-forms .radio
{
	position: relative;
	margin-right: 2px;
	background: white;
	display: inline-block;
	border: 3px solid #b5c1c7;
	height: 21px;
	width: 21px;
	top: 5px;
}

.smart-forms .checkbox:before,.smart-forms .radio:before
{
	content: '';
	display: none;
}

.smart-forms input:checked+.checkbox:before,.smart-forms input:checked+.radio:before
{
	display: block;
}

.smart-forms .checkbox:before
{
	position: absolute;
	top: 4px;
	left: 3px;
	width: 6px;
	height: 3px;
	border: solid #BF2130;
	border-width: 0 0 3px 3px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.smart-forms input:checked+.checkbox,.smart-forms input:checked+.radio
{
	border: 3px solid #BF2130;
}

.smart-forms .radio
{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.smart-forms .radio:before
{
	margin: 4px;
	width: 7px;
	height: 7px;
	background: #BF2130;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.smart-forms input:hover+.checkbox,.smart-forms input:hover+.radio
{
	border-color: #62d0ba;
}

.smart-forms input:focus+.checkbox,.smart-forms input:focus+.radio
{
	border-color: #BF2130;
}

.smart-forms input:focus+.radio:before
{
	background: #BF2130;
}

.smart-forms input:focus+.checkbox:before
{
	border-color: #BF2130;
}

.smart-forms .switch
{
	cursor: pointer;
	position: relative;
	padding-right: 10px;
	display: inline-block;
	margin-bottom: 5px;
	height: 26px;
}

.smart-forms .switch>label
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 25px;
	width: 58px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	background: #b5c1c7;
	border: 2px solid #b5c1c7;
	text-transform: uppercase;
	font-family: Helvetica,Arial,sans-serif;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.smart-forms .switch>label+span
{
	display: inline-block;
	padding-left: 5px;
	position: relative;
	top: -7px;
}

.smart-forms .switch>label:before
{
	content: attr(data-off);
	position: absolute;
	top: 1px;
	right: 3px;
	width: 33px;
}

.smart-forms .switch>label:after
{
	content: "";
	margin: 1px;
	width: 19px;
	height: 19px;
	display: block;
	background: #fff;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}

.smart-forms .switch>input
{
	-webkit-appearance: none;
	position: absolute;
	width: inherit;
	height: inherit;
	opacity: 0;
	left: 0;
	top: 0;
}

.smart-forms .switch>input:focus
{
	outline: 0;
}

.smart-forms .switch>input:focus+label
{
	color: #fff;
	border-color: #a1a6a9;
	background: #a1a6a9;
}

.smart-forms .switch>input:focus+label:after
{
	background: #fff;
}

.smart-forms .switch>input:checked+label
{
	border-color: #BF2130;
	background: #BF2130;
	padding-left: 33px;
	color: white;
}

.smart-forms .switch>input:checked+label:before
{
	content: attr(data-on);
	left: 1px;
	top: 1px;
}

.smart-forms .switch>input:checked+label:after
{
	margin: 1px;
	width: 19px;
	height: 19px;
	background: white;
}

.smart-forms .switch>input:checked:focus+label
{
	background: #16a085;
	border-color: #16a085;
}

.smart-forms .switch-round>label
{
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
}

.smart-forms .switch-round>label+span
{
	top: -2px;
}

.smart-forms .switch-round>label:before
{
	width: 33px;
}

.smart-forms .switch-round>label:after
{
	width: 19px;
	color: #b5c1c7;
	content: "\2022";
	font: 20px/20px Times,Serif;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
}

.smart-forms .switch-round>input:checked+label
{
	padding-left: 33px;
}

.smart-forms .switch-round>input:checked+label:after
{
	color: #BF2130;
}

.smart-forms .button
{
	border: 0;
	height: 42px;
	color: #243140;
	line-height: 1;
	font-size: 15px;
	cursor: pointer;
	padding: 0 18px;
	text-align: center;
	vertical-align: top;
	background: #bdc3c7;
	display: inline-block;
	-webkit-user-drag: none;
	text-shadow: 0 1px rgba(255,255,255,0.2);
}

.smart-forms .button:hover
{
	color: #243140;
	background: #cacfd2;
}

.smart-forms .button:active
{
	color: #1d2938;
	background: #a1a6a9;
}

.smart-forms a.button,.smart-forms span.button,.smart-forms label.button
{
	line-height: 42px;
	text-decoration: none;
}

.smart-forms .button i
{
	font-size: 14px;
}

.smart-forms .button-list .button
{
	margin-bottom: 5px;
}

.smart-forms .btn-primary
{
	background-color: #BF2130;
}

.smart-forms .btn-primary:hover,.smart-forms .btn-primary:focus
{
	background-color: #48c9b0;
}

.smart-forms .btn-primary:active
{
	background-color: #16a085;
}

.smart-forms .btn-primary,.smart-forms .btn-primary:hover,.smart-forms .btn-primary:focus,.smart-forms .btn-primary:active
{
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.08);
}

.smart-forms .btn-rounded
{
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	-o-border-radius: 22px;
	border-radius: 22px;
}

.smart-forms .button-left,.smart-forms .button-right
{
	position: relative;
	z-index: 9;
}

.smart-forms .button-left:before,.smart-forms .button-right:before
{
	content: '';
	z-index: -1;
	width: 32px;
	height: 32px;
	position: absolute;
	background-color: inherit;
	border-color: inherit;
	border: 0;
	top: 5px;
}

.smart-forms .button-left
{
	border-left-width: 0;
	padding: 0 18px 0 7px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin-left: 20px;
}

.smart-forms .button-left:before
{
	left: -15px;
	-webkit-border-radius: 2px 5px 0 5px;
	-moz-border-radius: 2px 5px 0 5px;
	-o-border-radius: 2px 5px 0 5px;
	border-radius: 2px 5px 0 5px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.smart-forms .button-right
{
	padding: 0 7px 0 18px;
	border-right-width: 0;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	margin-right: 20px;
}

.smart-forms .button-right:before
{
	right: -15px;
	-webkit-border-radius: 5px 2px 5px 0;
	-moz-border-radius: 5px 2px 5px 0;
	-o-border-radius: 5px 2px 5px 0;
	border-radius: 5px 2px 5px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.smart-forms .btn-pointed.button-left,.smart-forms .btn-pointed.button-right
{
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	-o-border-radius: 22px;
	border-radius: 22px;
}

.smart-forms .btn-rounded.button-left
{
	-webkit-border-radius: 0 22px 22px 0;
	-moz-border-radius: 0 22px 22px 0;
	-o-border-radius: 0 22px 22px 0;
	border-radius: 0 22px 22px 0;
}

.smart-forms .btn-rounded.button-right
{
	-webkit-border-radius: 22px 0 0 22px;
	-moz-border-radius: 22px 0 0 22px;
	-o-border-radius: 22px 0 0 22px;
	border-radius: 22px 0 0 22px;
}

.smart-forms .pushed
{
	-webkit-box-shadow: inset 0 -0.3em 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 -0.3em 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset 0 -0.3em 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 -0.3em 0 rgba(0,0,0,0.2);
	position: relative;
}

.smart-forms .pushed:active
{
	-webkit-box-shadow: inset 0 -0.15em 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 -0.15em 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset 0 -0.15em 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 -0.15em 0 rgba(0,0,0,0.2);
	top: 2px;
}

.smart-forms .pushed.button-left:before
{
	-webkit-box-shadow: inset .35em 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset .35em 0 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset .35em 0 0 rgba(0,0,0,0.2);
	box-shadow: inset .35em 0 0 rgba(0,0,0,0.2);
}

.smart-forms .pushed:active.button-left:before
{
	-webkit-box-shadow: inset .2em 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset .2em 0 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset .2em 0 0 rgba(0,0,0,0.2);
	box-shadow: inset .2em 0 0 rgba(0,0,0,0.2);
}

.smart-forms .pushed.button-right:before
{
	-webkit-box-shadow: inset -0.35em 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset -0.35em 0 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset -0.35em 0 0 rgba(0,0,0,0.2);
	box-shadow: inset -0.35em 0 0 rgba(0,0,0,0.2);
}

.smart-forms .pushed:active.button-right:before
{
	-webkit-box-shadow: inset -0.2em 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset -0.2em 0 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset -0.2em 0 0 rgba(0,0,0,0.2);
	box-shadow: inset -0.2em 0 0 rgba(0,0,0,0.2);
}

.smart-forms .form-footer .button
{
	margin-right: 10px;
	margin-bottom: 5px;
}

.smart-forms .align-right .button
{
	margin-right: 0;
	margin-left: 10px;
}

.smart-forms .twitter,.smart-forms .twitter:hover,.smart-forms .twitter:focus,.smart-forms .facebook,.smart-forms .facebook:hover,.smart-forms .facebook:focus,.smart-forms .googleplus,.smart-forms .googleplus:hover,.smart-forms .googleplus:focus
{
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.08);
}

.smart-forms .facebook
{
	background-color: #3b5998;
}

.smart-forms .twitter
{
	background-color: #00acee;
}

.smart-forms .googleplus
{
	background-color: #dd4b39;
}

.smart-forms .facebook:hover,.smart-forms .facebook:focus
{
	background-color: #25385f;
}

.smart-forms .twitter:hover,.smart-forms .twitter:focus
{
	background-color: #00749f;
}

.smart-forms .googleplus:hover,.smart-forms .googleplus:focus
{
	background-color: #8d2418;
}

.smart-forms .span-left
{
	padding-left: 52px;
	text-align: left;
}

.smart-forms .btn-social
{
	position: relative;
	margin-bottom: 5px;
}

.smart-forms .btn-social i
{
	font-size: 22px;
	position: relative;
	top: 2px;
}

.smart-forms .btn-social span
{
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	display: inline-block;
	text-align: center;
	position: absolute;
	width: 42px;
	left: 0;
}

.smart-forms .twitter span
{
	background-color: #009ad5;
}

.smart-forms .facebook span
{
	background-color: #31497d;
}

.smart-forms .googleplus span
{
	background-color: #c03121;
}

.smart-forms .rating
{
	overflow: hidden;
}

.smart-forms .rating.block
{
	display: block;
	margin: 10px 0;
}

.smart-forms .rating label
{
	color: #b5c1c7;
}

.smart-forms .rating label i
{
	font-size: 17px;
	text-align: center;
	color: inherit;
}

.smart-forms .rating label span
{
	font: 22px/22px Times,Serif;
}

.smart-forms .rating-star
{
	margin-left: 4px;
}

.smart-forms .rating-input
{
	position: absolute;
	left: -9999px;
	top: auto;
}

.smart-forms .rating:hover .rating-star:hover,.smart-forms .rating:hover .rating-star:hover ~ .rating-star,.smart-forms .rating-input:checked ~ .rating-star
{
	color: #BF2130;
}

.smart-forms .rating-star,.smart-forms .rating:hover .rating-star
{
	width: 18px;
	float: right;
	display: block;
	cursor: pointer;
	color: #b5c1c7;
}

.smart-forms .smart-widget,.smart-forms .append-picker-icon,.smart-forms .prepend-picker-icon
{
	position: relative;
	display: block;
}

.smart-forms .smart-widget .field input,.smart-forms .append-picker-icon input,.smart-forms .prepend-picker-icon input
{
	width: 100%;
}

.smart-forms .append-picker-icon button,.smart-forms .prepend-picker-icon button,.smart-forms .smart-widget .button
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	height: 42px;
	top: 0;
}

.smart-forms .append-picker-icon button,.smart-forms .prepend-picker-icon .gui-input,.smart-forms .sm-left .field input,.smart-forms .sm-right .button
{
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-o-border-top-left-radius: 0;
	-o-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.smart-forms .prepend-picker-icon button,.smart-forms .append-picker-icon .gui-input,.smart-forms .sm-right .field input,.smart-forms .sm-left .button
{
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-o-border-top-right-radius: 0;
	-o-border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.smart-forms .prepend-picker-icon button,.smart-forms .sm-left .button
{
	left: 0;
}

.smart-forms .append-picker-icon button,.smart-forms .sm-right .button
{
	right: 0;
}

.smart-forms .sml-50,.smart-forms .prepend-picker-icon
{
	padding-left: 50px;
}

.smart-forms .sml-50 .button,.smart-forms .prepend-picker-icon button
{
	width: 50px;
}

.smart-forms .sml-80
{
	padding-left: 80px;
}

.smart-forms .sml-80 .button
{
	width: 80px;
}

.smart-forms .sml-120
{
	padding-left: 120px;
}

.smart-forms .sml-120 .button
{
	width: 120px;
}

.smart-forms .smr-50,.smart-forms .append-picker-icon
{
	padding-right: 50px;
}

.smart-forms .smr-50 .button,.smart-forms .append-picker-icon button
{
	width: 50px;
}

.smart-forms .smr-80
{
	padding-right: 80px;
}

.smart-forms .smr-80 .button
{
	width: 80px;
}

.smart-forms .smr-120
{
	padding-right: 120px;
}

.smart-forms .smr-120 .button
{
	width: 120px;
}

.smart-forms .append-picker-icon button,.smart-forms .prepend-picker-icon button
{
	background: #bdc3c7;
	text-shadow: 0 1px rgba(255,255,255,0.2);
	text-align: center;
	cursor: pointer;
	color: #243140;
	border: 0;
}

.smart-forms .append-picker-icon button:hover,.smart-forms .prepend-picker-icon button:hover
{
	color: #243140;
	background: #cacfd2;
}

.smart-forms .append-picker-icon button:active,.smart-forms .prepend-picker-icon button:active
{
	color: #1d2938;
	background: #a1a6a9;
}

.smart-forms .append-icon,.smart-forms .prepend-icon
{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 100%;
}

.smart-forms .append-icon .field-icon,.smart-forms .prepend-icon .field-icon
{
	top: 0;
	z-index: 4;
	width: 42px;
	height: 42px;
	color: inherit;
	line-height: 42px;
	position: absolute;
	text-align: center;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	pointer-events: none;
}

.smart-forms .append-icon .field-icon i,.smart-forms .prepend-icon .field-icon i
{
	position: relative;
	font-size: 14px;
}

.smart-forms .prepend-icon .field-icon
{
	left: 0;
}

.smart-forms .append-icon .field-icon
{
	right: 0;
}

.smart-forms .prepend-icon>input,.smart-forms .prepend-icon>textarea
{
	padding-left: 36px;
}

.smart-forms .append-icon>input,.smart-forms .append-icon>textarea
{
	padding-right: 36px;
	padding-left: 10px;
}

.smart-forms .append-icon>textarea
{
	padding-right: 36px;
}

.smart-forms .tooltip
{
	position: absolute;
	z-index: -1;
	opacity: 0;
	color: #fff;
	width: 184px;
	left: -9999px;
	top: auto;
	font-size: 11px;
	font-weight: normal;
	background: #34495e;
	-webkit-transition: margin .6s,opacity .6s;
	-moz-transition: margin .6s,opacity .6s;
	-ms-transition: margin .6s,opacity .6s;
	-o-transition: margin .6s,opacity .6s;
	transition: margin .6s,opacity .6s;
}

.smart-forms .tooltip>em
{
	padding: 12px;
	font-style: normal;
	display: block;
	position: static;
}

.smart-forms .tooltip:after
{
	content: '';
	position: absolute;
}

.smart-forms .gui-input:focus+.tooltip,.smart-forms .gui-textarea:focus+.tooltip
{
	opacity: 1;
	z-index: 999;
}

.smart-forms .tip-left
{
	top: 1px;
	margin-right: -20px;
}

.smart-forms .tip-left:after
{
	top: 12px;
	left: 100%;
	border-left: 8px solid #34495e;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.smart-forms .gui-input:focus+.tip-left,.smart-forms .gui-textarea:focus+.tip-left
{
	margin-right: 5px;
	right: 100%;
	left: auto;
}

.smart-forms .tip-right
{
	top: 1px;
	margin-left: -20px;
}

.smart-forms .tip-right:after
{
	top: 12px;
	right: 100%;
	border-right: 8px solid #34495e;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.smart-forms .gui-input:focus+.tip-right,.smart-forms .gui-textarea:focus+.tip-right
{
	left: 100%;
	margin-left: 5px;
}

.smart-forms .tip-right-top
{
	bottom: 100%;
	margin-bottom: -20px;
}

.smart-forms .tip-right-top:after
{
	top: 100%;
	right: 12px;
	border-top: 8px solid #34495e;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.smart-forms .gui-input:focus+.tip-right-top,.smart-forms .gui-textarea:focus+.tip-right-top
{
	right: 0;
	left: auto;
	margin-bottom: 10px;
}

.smart-forms .tip-left-top
{
	bottom: 100%;
	margin-bottom: -20px;
}

.smart-forms .tip-left-top:after
{
	top: 100%;
	left: 12px;
	border-top: 8px solid #34495e;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.smart-forms .gui-input:focus+.tip-left-top,.smart-forms .gui-textarea:focus+.tip-left-top
{
	left: 0;
	right: auto;
	margin-bottom: 10px;
}

.smart-forms .tip-right-bottom
{
	top: 100%;
	margin-top: -20px;
}

.smart-forms .tip-right-bottom:after
{
	right: 12px;
	bottom: 100%;
	border-bottom: 8px solid #34495e;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.smart-forms .gui-input:focus+.tip-right-bottom,.smart-forms .gui-textarea:focus+.tip-right-bottom
{
	margin-top: 10px;
	left: auto;
	right: 0;
}

.smart-forms .tip-left-bottom
{
	top: 100%;
	margin-top: -20px;
}

.smart-forms .tip-left-bottom:after
{
	left: 12px;
	bottom: 100%;
	border-bottom: 8px solid #34495e;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.smart-forms .gui-input:focus+.tip-left-bottom,.smart-forms .gui-textarea:focus+.tip-left-bottom
{
	margin-top: 10px;
	right: auto;
	left: 0;
}

.smart-forms .smart-list
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.smart-forms .smart-list li
{
	margin-bottom: 20px;
}

.smart-forms .form-msg
{
	display: none;
}

.smart-forms .notification
{
	color: #444;
	padding: 15px;
	position: relative;
}

.smart-forms .notification p
{
	margin: 0;
	padding: 0 15px;
	padding-left: 5px;
	line-height: normal;
}

.smart-forms .notification .close-btn
{
	margin-top: -7px;
	padding: inherit;
	position: absolute;
	text-decoration: none;
	font: bold 20px/20px Arial,sans-serif;
	opacity: .65;
	color: inherit;
	display: block;
	right: 1px;
	top: 14%;
}

.smart-forms .notification .close-btn:hover
{
	opacity: 1;
}

.smart-forms .alert-info
{
	color: #163161;
	background-color: #cfe6fc;
}

.smart-forms .alert-success
{
	color: #363;
	background-color: #d2f7ad;
}

.smart-forms .alert-warning
{
	color: #c60;
	background-color: #fae7a2;
}

.smart-forms .alert-error
{
	color: #900;
	background-color: #fbdbcf;
}

.smart-forms .state-error .gui-input,.smart-forms .state-error .gui-textarea,.smart-forms .state-error.select>select,.smart-forms .state-error.select-multiple>select,.smart-forms .state-error input:hover+.checkbox,.smart-forms .state-error input:hover+.radio,.smart-forms .state-error input:focus+.checkbox,.smart-forms .state-error input:focus+.radio,.smart-forms .state-error .checkbox,.smart-forms .state-error .radio
{
	background: #feefe9;
	border-color: #e46b66;
}

.smart-forms .state-error .gui-input ~ .field-icon i,.smart-forms .state-error .gui-textarea ~ .field-icon i
{
	color: #e74c3c;
}

.smart-forms .state-error.select .arrow
{
	color: #e74c3c;
}

.smart-forms .state-error.select:before
{
	border-left: 1px solid #e46b66;
}

.smart-forms .state-error .gui-input ~ .input-hint,.smart-forms .state-error.file .gui-file:hover+.gui-input,.smart-forms .state-error .gui-textarea ~ .input-hint
{
	border-color: #e46b66;
}

.smart-forms .state-error+em
{
	display: block !important;
	margin-top: 6px;
	padding: 0 3px;
	font-family: Arial,Helvetica,sans-serif;
	font-style: normal;
	line-height: normal;
	color: #c00;
	font-size: .85em;
}

.smart-forms .state-success .gui-input,.smart-forms .state-success .gui-textarea,.smart-forms .state-success.select>select,.smart-forms .state-success.select-multiple>select,.smart-forms .state-success input:hover+.checkbox,.smart-forms .state-success input:hover+.radio,.smart-forms .state-success input:focus+.checkbox,.smart-forms .state-success input:focus+.radio,.smart-forms .state-success .checkbox,.smart-forms .state-success .radio
{
	background: #eafcd8;
	border-color: #2ecc71;
}

.smart-forms .state-success .gui-input ~ .field-icon i,.smart-forms .state-success .gui-textarea ~ .field-icon i
{
	color: #2ecc71;
}

.smart-forms .state-success.select .arrow
{
	color: #2ecc71;
}

.smart-forms .state-success.select:before
{
	border-left: 1px solid #2ecc71;
}

.smart-forms .state-success .gui-input ~ .input-hint,.smart-forms .state-success.file .gui-file:hover+.gui-input,.smart-forms .state-success .gui-textarea ~ .input-hint
{
	border-color: #2ecc71;
}

.smart-forms .button[disabled],.smart-forms .state-disabled .button,.smart-forms input[disabled]+.radio,.smart-forms input[disabled]+.checkbox,.smart-forms .switch>input[disabled]+label
{
	cursor: default;
	opacity: .5;
}

.smart-forms .gui-input[disabled],.smart-forms .gui-textarea[disabled],.smart-forms .select>select[disabled],.smart-forms .select-multiple select[disabled],.smart-forms .gui-input[disabled] ~ .input-hint,.smart-forms .file .gui-file[disabled]+.gui-input,.smart-forms .file .gui-file[disabled]:hover+.gui-input,.smart-forms .gui-textarea[disabled] ~ .input-hint
{
	background-color: #f4f6f6;
	border-color: #d5dbdb !important;
	cursor: default;
	color: #d5dbdb;
	opacity: .7;
}

.smart-forms input[disabled] ~ .field-icon i,.smart-forms textarea[disabled] ~ .field-icon i,.smart-forms .select>select[disabled]+.arrow
{
	opacity: .4;
}

.ui-datepicker
{
	width: 18em;
	margin-top: 14px;
	display: none;
	background: #fff;
	position: relative;
	font: 14px/1.55 "Roboto",Arial,Helvetica,sans-serif;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 4px rgba(0,0,0,.3);
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	border: 5px solid #BF2130;
	z-index: 99999999999 !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	color: #666;
}

.ui-datepicker:before
{
	content: "";
	bottom: auto;
	border: solid;
	border-width: 16px 16px 16px;
	border-color: transparent transparent #BF2130 transparent;
	border-color: rgba(255,255,255,0) rgba(255,255,255,0) #BF2130 rgba(255,255,255,0);
	position: absolute;
	margin-left: -10px;
	display: block;
	top: -32px;
	left: 10%;
	height: 0;
	width: 0;
}

.ui-datepicker a
{
	color: #404040;
	text-align: center;
}

.ui-datepicker .ui-state-disabled span
{
	color: #d9dde5;
}

.ui-timepicker-div .ui-widget-header,.ui-datepicker .ui-datepicker-header
{
	position: relative;
	background: #BF2130;
	line-height: 27px;
	font-size: 15px;
	padding: 10px;
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next
{
	width: 34px;
	height: 34px;
	display: block;
	font-size: 14px;
	position: absolute;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	top: 19.5%;
}

.ui-datepicker .ui-datepicker-prev
{
	left: 2px;
}

.ui-datepicker .ui-datepicker-next
{
	right: 2px;
}

.ui-datepicker .ui-datepicker-title
{
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	color: #fff;
}

.ui-datepicker .ui-datepicker-title select
{
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year
{
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year
{
	width: 49%;
}

.ui-datepicker table
{
	width: 100%;
	font-size: .9em;
	margin: 0 0 .4em;
	border-collapse: collapse;
}

.ui-datepicker th
{
	padding: .5em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker td
{
	border: 0;
	padding: 2px 5px;
}

.ui-datepicker td span,.ui-datepicker td a
{
	padding: .25em;
	display: block;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.ui-datepicker td span:hover,.ui-datepicker td a:hover
{
	background: #d7dcde;
}

.ui-datepicker .ui-state-disabled span:hover
{
	background: 0;
}

.ui-datepicker-today a,.ui-datepicker-today a:hover,.ui-datepicker .ui-state-highlight
{
	font-weight: 700;
	background: #BF2130 !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}

.cal-widget .ui-datepicker
{
	width: 100%;
	margin-top: 0;
}

.cal-widget .ui-datepicker:before
{
	display: none;
}

.ui-datepicker.ui-datepicker-multi
{
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group
{
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table
{
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group
{
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group
{
	width: 33.333%;
}

.ui-datepicker-multi-4 .ui-datepicker-group
{
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
{
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane
{
	clear: left;
}

.ui-datepicker-row-break
{
	clear: both;
	width: 100%;
	font-size: 0;
}

.ui-datepicker-buttonpane
{
	border-top: 1px solid #d9dde5;
	padding: 10px;
}

.ui-datepicker-buttonpane button
{
	padding: 8px 12px;
	margin-right: .2em;
	position: relative;
	line-height: normal;
	display: inline-block;
	-webkit-user-drag: none;
	text-shadow: 0 1px rgba(255,255,255,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	background: #bdc3c7;
	text-align: center;
	overflow: visible;
	cursor: pointer;
	color: #243140;
	border: 0;
}

.ui-datepicker-buttonpane button:hover
{
	color: #243140;
	background: #cacfd2;
}

.ui-datepicker-buttonpane button:active
{
	color: #1d2938;
	background: #a1a6a9;
}

.ui-monthpicker .ui-datepicker-header
{
	margin-bottom: 3px;
}

.smart-forms .slider-wrapper,.smart-forms .sliderv-wrapper
{
	background: #e2e8f1;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.smart-forms .ui-slider
{
	position: relative;
	text-align: left;
}

.smart-forms .ui-slider .ui-slider-handle
{
	position: absolute;
	z-index: 2;
	width: 1.5em;
	height: 1.5em;
	cursor: default;
	background: #fff;
	text-decoration: none;
	border: 3px solid #BF2130;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-ms-touch-action: none;
	touch-action: none;
	margin-top: -3px;
	outline: 0;
}

.smart-forms .ui-slider .ui-slider-handle:before
{
	content: '';
	width: 7px;
	height: 7px;
	position: absolute;
	background-color: #BF2130;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	z-index: 2;
	left: 4px;
	top: 4px;
}

.smart-forms .ui-slider .ui-slider-range
{
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	background-color: #BF2130;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.smart-forms .ui-slider.ui-state-disabled .ui-slider-handle,.smart-forms .ui-slider.ui-state-disabled .ui-slider-range
{
	filter: inherit;
}

.smart-forms .ui-slider-horizontal
{
	height: .5em;
}

.smart-forms .ui-slider-horizontal .ui-slider-handle
{
	top: -.3em;
	margin-left: -.6em;
}

.smart-forms .ui-slider-horizontal .ui-slider-range
{
	top: 0;
	height: 100%;
}

.smart-forms .ui-slider-horizontal .ui-slider-range-min
{
	left: 0;
}

.smart-forms .ui-slider-horizontal .ui-slider-range-max
{
	right: 0;
}

.smart-forms .ui-slider-vertical,.smart-forms .sliderv-wrapper
{
	width: .5em;
	height: 100px;
}

.smart-forms .ui-slider-vertical .ui-slider-handle
{
	left: -.45em;
	margin-left: 0;
	margin-bottom: -.6em;
}

.smart-forms .ui-slider-vertical .ui-slider-range
{
	left: 0;
	width: 100%;
}

.smart-forms .ui-slider-vertical .ui-slider-range-min
{
	bottom: 0;
}

.smart-forms .ui-slider-vertical .ui-slider-range-max
{
	top: 0;
}

.smart-forms .slider-input
{
	color: #f6931f !important;
	border: 0;
	background: 0;
}

.smart-forms .slider-group .sliderv-wrapper
{
	height: 150px;
	float: left;
	margin: 15px 15px;
}

.smart-forms .ui-slider .ui-state-active
{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.smart-forms .slider-tip
{
	display: block;
	position: absolute;
	text-align: center;
	font: 10pt Tahoma,Arial,sans-serif;
	background: #34495e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	color: #fff;
}

.smart-forms .slider-wrapper .slider-tip
{
	top: -50px;
	left: -15px;
}

.smart-forms .slider-wrapper .slider-tip:after
{
	content: '';
	position: absolute;
	top: 98%;
	left: 35%;
	border-top: 8px solid #34495e;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.smart-forms .sliderv-wrapper .slider-tip
{
	left: 30px;
	top: -12px;
}

.smart-forms .sliderv-wrapper .slider-tip:after
{
	content: '';
	position: absolute;
	top: 30%;
	right: 98%;
	border-right: 8px solid #34495e;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.smart-forms .yellow-slider .ui-slider .ui-slider-handle
{
	border-color: #ed9c28;
}

.smart-forms .yellow-slider .ui-slider .ui-slider-handle:before,.smart-forms .yellow-slider .ui-slider .ui-slider-range
{
	background-color: #ed9c28;
}

.smart-forms .red-slider .ui-slider .ui-slider-handle
{
	border-color: #e74c3c;
}

.smart-forms .red-slider .ui-slider .ui-slider-handle:before,.smart-forms .red-slider .ui-slider .ui-slider-range
{
	background-color: #e74c3c;
}

.smart-forms .purple-slider .ui-slider .ui-slider-handle
{
	border-color: #9b59b6;
}

.smart-forms .purple-slider .ui-slider .ui-slider-handle:before,.smart-forms .purple-slider .ui-slider .ui-slider-range
{
	background-color: #9b59b6;
}

.smart-forms .blue-slider .ui-slider .ui-slider-handle
{
	border-color: #3498db;
}

.smart-forms .blue-slider .ui-slider .ui-slider-handle:before,.smart-forms .blue-slider .ui-slider .ui-slider-range
{
	background-color: #3498db;
}

.smart-forms .black-slider .ui-slider .ui-slider-handle
{
	border-color: #34495e;
}

.smart-forms .black-slider .ui-slider .ui-slider-handle:before,.smart-forms .black-slider .ui-slider .ui-slider-range
{
	background-color: #34495e;
}

.smart-forms .green-slider .ui-slider .ui-slider-handle
{
	border-color: #2ecc71;
}

.smart-forms .green-slider .ui-slider .ui-slider-handle:before,.smart-forms .green-slider .ui-slider .ui-slider-range
{
	background-color: #2ecc71;
}

.ui-timepicker-div .ui-widget-header
{
	position: relative;
	line-height: 27px;
	font-size: 15px;
	padding: 10px;
}

.ui-timepicker-div dl
{
	text-align: left;
	border: 1px solid #d9dde5;
	border-width: 1px 0 0 0;
	padding: 15px 10px;
	margin: 0;
}

.ui-timepicker-div dl dt
{
	float: left;
	clear: left;
	padding: 0 0 0 5px;
}

.ui-timepicker-div dl dd
{
	margin: 0 10px 20px 40%;
}

.ui-timepicker-div dl .ui_tpicker_hour,.ui-timepicker-div dl .ui_tpicker_minute,.ui-timepicker-div dl .ui_tpicker_second,.ui-timepicker-div dl .ui_tpicker_millisec
{
	background: #e2e8f1;
	position: relative;
	top: 6px;
}

.ui-timepicker-div td
{
	font-size: 90%;
}

.ui-tpicker-grid-label
{
	background: 0;
	border: 0;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl
{
	direction: rtl;
}

.ui-timepicker-rtl dl
{
	text-align: right;
	padding: 0 5px 0 0;
}

.ui-timepicker-rtl dl dt
{
	float: right;
	clear: right;
}

.ui-timepicker-rtl dl dd
{
	margin: 0 40% 10px 10px;
}

.smart-forms .progress-section
{
	display: none;
}

.smart-forms .progress-bar
{
	position: relative;
	background: #edf0f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.smart-forms .progress-bar .percent
{
	position: absolute;
	display: inline-block;
	top: -3px;
	right: -24px;
	font-size: 9px;
	color: #93a2aa;
}

.smart-forms .progress-bar>.bar
{
	width: 60%;
	height: 7px;
	display: block;
	background-size: 16px 16px;
	background-color: #bdc3c7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.smart-forms .bar-primary>.bar
{
	background-color: #BF2130;
}

.smart-forms .bar-blue>.bar
{
	background-color: #3498db;
}

.smart-forms .bar-black>.bar
{
	background-color: #34495e;
}

.smart-forms .bar-green>.bar
{
	background-color: #2ecc71;
}

.smart-forms .bar-purple>.bar
{
	background-color: #9b59b6;
}

.smart-forms .bar-red>.bar
{
	background-color: #e74c3c;
}

.smart-forms .bar-yellow>.bar
{
	background-color: #ed9c28;
}

.smart-forms .ui-slider .ui-slider-range,.smart-forms .progress>button[type="submit"]:hover,.smart-forms .progress>button[type="submit"],.smart-forms .progress-bar>.bar
{
	background-size: 16px 16px;
	background-image: -webkit-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
	background-image: -moz-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
	background-image: -o-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
	background-image: linear-gradient(to bottom right,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
}

.smart-forms .progress>button[type="submit"],.smart-forms .progress>button[type="submit"]:hover,.smart-forms .progress-animated>.bar
{
	-webkit-animation: sfprogress .6s linear infinite;
	-moz-animation: sfprogress .6s linear infinite;
	-o-animation: sfprogress .6s linear infinite;
	animation: sfprogress .6s linear infinite;
}

.smart-forms .progress>button[type="submit"]:hover
{
	cursor: wait;
}

@-webkit-keyframes sfprogress
{
	from
	{
		background-position: 0 0;
	}

	to
	{
		background-position: -16px 0;
	}
}

@-moz-keyframes sfprogress
{
	from
	{
		background-position: 0 0;
	}

	to
	{
		background-position: -16px 0;
	}
}

@-o-keyframes sfprogress
{
	from
	{
		background-position: 0 0;
	}

	to
	{
		background-position: -16px 0;
	}
}

@keyframes sfprogress
{
	from
	{
		background-position: 0 0;
	}

	to
	{
		background-position: -16px 0;
	}
}

.smart-forms .map-container
{
	padding: 10px;
	border: 2px solid #bdc3c7;
}

.smart-forms #map_canvas
{
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.smart-forms .block
{
	display: block;
}

.smart-forms .frm-row
{
	margin: 0 -10px;
}

.smart-forms .slider-group:before,.smart-forms .slider-group:after,.smart-forms .frm-row:before,.smart-forms .frm-row:after
{
	display: table;
	content: "";
	line-height: 0;
}

.smart-forms .slider-group:after,.smart-forms .frm-row:after
{
	clear: both;
}

.smart-forms .frm-row .colm
{
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	float: left;
}

.smart-forms .frm-row .colm1
{
	width: 8.33%;
}

.smart-forms .frm-row .colm2
{
	width: 16.66%;
}

.smart-forms .frm-row .colm3
{
	width: 25%;
}

.smart-forms .frm-row .colm4
{
	width: 33.33%;
}

.smart-forms .frm-row .colm5
{
	width: 41.66%;
}

.smart-forms .frm-row .colm6
{
	width: 50%;
}

.smart-forms .frm-row .colm7
{
	width: 58.33%;
}

.smart-forms .frm-row .colm8
{
	width: 66.66%;
}

.smart-forms .frm-row .colm9
{
	width: 75%;
}

.smart-forms .frm-row .colm10
{
	width: 83.33%;
}

.smart-forms .frm-row .colm11
{
	width: 91.66%;
}

.smart-forms .frm-row .colm12
{
	width: 100%;
}

.smart-forms .frm-row .colm1-5
{
	width: 20%;
}

.smart-forms .frm-row .colm1-8
{
	width: 12.5%;
}

.smart-forms .spacer
{
	border-top: 1px solid #d9dde5;
	display: block;
	height: 0;
}

.smart-forms .spacer-t10
{
	margin-top: 10px;
}

.smart-forms .spacer-b10
{
	margin-bottom: 10px;
}

.smart-forms .spacer-t15
{
	margin-top: 15p;
}

.smart-forms .spacer-b15
{
	margin-bottom: 15px;
}

.smart-forms .spacer-t20
{
	margin-top: 20px;
}

.smart-forms .spacer-b20
{
	margin-bottom: 20px;
}

.smart-forms .spacer-t25
{
	margin-top: 25px;
}

.smart-forms .spacer-b25
{
	margin-bottom: 25px;
}

.smart-forms .spacer-t30
{
	margin-top: 30px;
}

.smart-forms .spacer-b30
{
	margin-bottom: 30px;
}

.smart-forms .spacer-t40
{
	margin-top: 40px;
}

.smart-forms .spacer-b40
{
	margin-bottom: 40px;
}

.smart-forms .frm-row .pad-l10
{
	padding-left: 10px;
}

.smart-forms .frm-row .pad-r10
{
	padding-right: 10px;
}

.smart-forms .frm-row .pad-l20
{
	padding-left: 20px;
}

.smart-forms .frm-row .pad-r20
{
	padding-right: 20px;
}

.smart-forms .frm-row .pad-l30
{
	padding-left: 30px;
}

.smart-forms .frm-row .pad-r30
{
	padding-right: 30px;
}

.smart-forms .frm-row .pad-l40
{
	padding-left: 40px;
}

.smart-forms .frm-row .pad-r40
{
	padding-right: 40px;
}

.smart-forms .bdl
{
	border-left: 1px solid #d9dde5;
}

.smart-forms .bdr
{
	border-right: 1px solid #d9dde5;
}

.smart-forms .fine-grey
{
	color: #919da8;
}

.smart-forms .small-text
{
	font-size: 11px;
	font-style: normal;
}

.smart-forms .text-align
{
	height: 42px;
	line-height: 42px;
}

.smart-forms .align-right
{
	text-align: right;
}

.smart-forms .align-center
{
	text-align: center;
}

.smart-forms .price-box
{
	padding: 30px;
	text-align: center;
	position: relative;
	border: 1px solid #d0d6df;
	font-family: Arial,Helvetica,sans-serif;
	-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.05);
	-moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.05);
	-o-box-shadow: 0 2px 0 0 rgba(0,0,0,0.05);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.05);
}

.smart-forms .price-box p
{
	line-height: 1.5em;
	color: #526066;
	margin-bottom: 0;
}

.smart-forms .price-box h5
{
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
	font-size: 15px;
	color: #bacdd6;
	letter-spacing: 2px;
}

.smart-forms .price-box h4
{
	font-size: 60px;
	font-weight: 300;
	margin: 0;
	color: #547698;
}

.smart-forms .selected-box h4
{
	color: #BF2130;
}

.smart-forms .price-box h4 sup
{
	position: relative;
	font-size: 30px;
	vertical-align: top;
	top: 15px;
}

.smart-forms .price-box h4 .per-month
{
	font-size: 14px;
}

.smart-forms .expand
{
	height: 50px;
	line-height: 50px !important;
}

.smart-forms .ribbon,.smart-forms .ribbon-large
{
	width: 75px;
	height: 78px;
	overflow: hidden;
	position: absolute;
	right: -2px;
	top: -2px;
	z-index: 1;
}

.smart-forms .ribbon-inner
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #BF2130;
	letter-spacing: 4px;
	text-align: center;
	position: relative;
	font-weight: 700;
	font-size: 14px;
	padding: 7px 0;
	width: 100px;
	color: #fff;
	z-index: 1;
	left: 3px;
	top: 6px;
}

.smart-forms .ribbon-inner:before,.smart-forms .ribbon-inner:after
{
	content: "";
	border-top: 3px solid #16a085;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	bottom: -3px;
}

.smart-forms .ribbon-inner:before
{
	left: 0;
}

.smart-forms .ribbon-inner:after
{
	right: 0;
}

.smart-forms .ribbon-large
{
	width: 115px;
	height: 118px;
}

.smart-forms .ribbon-large .ribbon-inner
{
	width: 160px;
	left: -8px;
	top: 28px;
}

.smart-forms .sfcode
{
	padding-left: 24px;
}

.smart-forms .captcode
{
	padding: 0;
	position: relative;
}

.smart-forms .captcode img
{
	position: relative;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-o-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	top: 2px;
	left: 1px;
}

.smart-forms .refresh-captcha
{
	position: absolute;
	background: #BF2130;
	border: 3px solid #16a085;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	right: -15px;
	height: 32px;
	width: 32px;
	top: 4px;
}

.smart-forms .refresh-captcha i
{
	position: absolute;
	text-align: center;
	line-height: 26px;
	font-size: 17px;
	color: #fff;
	left: 24%;
}

.smart-forms .refresh-black
{
	background: #34495e;
	border-color: #2c3e50;
}

.smart-forms .refresh-blue
{
	background: #3498db;
	border-color: #2c81ba;
}

.smart-forms .refresh-green
{
	background: #2ecc71;
	border-color: #27ad60;
}

.smart-forms .refresh-purple
{
	background: #9b59b6;
	border-color: #8e44ad;
}

.smart-forms .refresh-red
{
	background: #e74c3c;
	border-color: #c44133;
}

.smart-forms .refresh-yellow
{
	background: #ed9c28;
	border-color: #d58512;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.smart-forms .option,.smart-forms .rating,.smart-forms .switch,.smart-forms .captcode
	{
		-webkit-animation: bugfix infinite 1s;
	}
  @	-webkit-keyframes bugfix
	{
		from{padding: 0;
	}

	to
	{
		padding: 0;
	}
}

.smart-forms .switch
{
	margin-right: 10px;
	margin-bottom: 5px;
}

.smart-forms .option
{
	margin-right: 15px;
}}

@media(max-width:600px)
{
	.smart-forms .frm-row
	{
		margin: 0;
	}

	.smart-forms .frm-row .colm
	{
		width: 100%;
		float: none;
		padding: 0;
	}

	.smart-forms .bdl
	{
		border-left: 0;
	}

	.smart-forms .bdr
	{
		border-right: 0;
	}

	.smart-forms .align-right
	{
		text-align: left;
	}
}
