%h1= I18n.t( :home, :scope => :titles )

.latest_news
  .news_logo
  - @posts.each do |post|
    = render "news/news_item", :post => post

.sidebar
  %h2= I18n.t( :spotlight, :scope => :titles )

  .player
    %h1
      %a{ :href => artist_path( :id => @spotlight_artist.id ) }= @spotlight_artist.name
    = raw @spotlight_artist.soundcloud
    %a{ :href => artist_path( :id => @spotlight_artist.id ) }
      .img{ :style => "background-image:url('#{@spotlight_artist.image.url(:full)}');"}

.clear
