.news_wrap
  - unless @post.new_record?
    = form_for @post, :url => news_path( :id => @post.id ), :html=>{ :id=>'delete_form' }, :method => 'delete' do |f|
      // button will be rendered in next form

  = form_for @post, :url => ( @post.new_record? ? news_index_path : news_path( :id => @post.id ) ), :html => { :multipart => true } do |f|
    .date
      - publish_date = @post.publish_date || DateTime.now
      .day= publish_date.day
      .month= (Date::MONTHNAMES[publish_date.month])[0,3]
    .title
      %h2
        = f.text_field :title
        %br
        = f.select :language, options_for_select( [:lv,:en,:ru], @post.language)
        %br
        = f.text_field :publish_date, :class => :datepicker, :required => true
        %br
        = f.select :category_id, options_from_collection_for_select( Category.all, :id, "name_"+locale.to_s, @post.category_id )
    .clear
    .content
      .img{ :style => "background-image:url('#{@post.image.url(:full)}');"}
        = f.file_field :image

      .text= f.text_area :content, :class => :tinymce
    .clear
    = f.submit
    - unless @post.new_record?
      = submit_tag 'Delete post', :form => 'delete_form', :class => ['delete_link'], :data => { :confirm => 'Are you sure?' }
  .sub_navigation
    %a.back{ :href => news_index_path } &#8592; Back to news timeline
    - unless @post.next.blank?
      %a.next{ :href => news_path( :id => @post.next.id ) } Read next &#8594;
    .clear
