.news_item
  .date
    .day
      .noise3
      %p= post.publish_date.day
    .month= (Date::MONTHNAMES[post.publish_date.month])[0,3]
  .content
    %a{ :href => news_path( :id => post.id ) }
      %h2= post.title
    - unless post.image.blank?
      %a{ :href => news_path( :id => post.id ) }
        .img.first-page-news{ :style => "background-image:url('#{post.image.url(:full)}')"}
    .text= raw post.content
    %a.more_link{ :href => news_path( :id => post.id ) }
      &raquo;
      = t(:read_more)
  .clear
