- years = @posts.map{ |p| p.publish_date.year }.uniq
- years.each do |year|
  - @posts.select{|p| p.publish_date.year == year }.map{ |p| p.publish_date.month }.uniq.each do |month|
    .month
      = (Date::MONTHNAMES[month])
    - @posts.select{|p| p.publish_date.month == month && p.publish_date.year == year }.each do |post|
      = render "news_item", :post => post
= will_paginate @posts
