%h1= I18n.t( :news, :scope => :titles )
.side_navigation
  .years.links
    = render "news_submenu"
.latest_news.content_wrap
  = render "news_list"
.clear

- if is_admin?
  %a.button{ :href => new_news_path, :title => "Pievienot" }
