.news_wrap
  .date
    .day= @post.publish_date.day
    .month= (Date::MONTHNAMES[@post.publish_date.month])[0,3]
  .title_wrap
    .title
      %h2= @post.title
  .clear
  .content
    - unless @post.image.blank?
      .img{ :style => "background-image:url('#{@post.image.url(:full)}');"}
    .text= raw @post.content
    .share_buttons
      %a.btn.draugiem{ 'data-title' => @post.title, 'data-url' => "", :onclick => "share_draugiem(this)" }
      %a.btn.facebook{ 'data-url' => "", :onclick =>"share_facebook(this)" }
      %a.btn.twitter{ 'data-text' => @post.title, 'data-url' => "", :onclick => "share_twitter(this)" }
  .clear


- if is_admin?
  %a.button{ :href => edit_news_path( :id => @post.id ), :title => "Labot" }

.sub_navigation
  %a.back{ :href => news_index_path }
    &#8592;
    = t(:back)
  - unless @post.next.blank?
    %a.next{ :href => news_path( :id => @post.next.id ) }
      = t(:read_next)
      &#8594;
  .clear
