%h1
  = f.text_field :name, :placeholder => "Name", :required => true
- if controller.controller_name == 'festivals'
  = f.text_field :start_date, :class => :datepicker, :required => true
  %br
.profile
  .img{ :style => "background-image:url('#{@item.image.url(:full)}');"}
    = f.file_field :image
  .contacts
    .left
      %h4.underline Management
      .contact_entry= f.text_field :contact, :placeholder => "Contact info", :required => true
      %br
      %a.contact_entry= f.text_field :email, :placeholder => "E-mail", :required => true
      %br
      .contact_entry= f.text_field :phone, :placeholder => "Phone"
      %br
      .contact_entry= f.text_field :location, :placeholder => "Location"
    .right
      %h4.underline Follow
      .social_links
        .spotify= f.text_field :spotify, :placeholder => "Spotify"
        .twitter= f.text_field :twitter, :placeholder => "Twitter"
        .draugiem= f.text_field :draugiem, :placeholder => "Draugiem"
        .facebook= f.text_field :facebook, :placeholder => "Facebook"
      .contact_entry= f.text_field :webpage, :placeholder => "Webpage"
    .clear
.bio
  .title
    %h2 Bio
  LV
  %p= f.text_area :bio_lv, :class => :tinymce
  EN
  %p= f.text_area :bio_en, :class => :tinymce
  RU
  %p= f.text_area :bio_ru, :class => :tinymce
.clear
= f.submit
