- unless @item.new_record?
  = form_for @item, :url => agency_path( :id => @item.id ), :html=>{ :id=>'delete_form' }, :method => 'delete' do |f|
    // button will be rendered in next form

= form_for @item, :url => ( @item.new_record? ? agencies_path : agency_path( :id => @item.id ) ), :html => { :multipart => true } do |f|

  = render "form_fields", :f => f
  - unless @item.new_record?
    = submit_tag 'Delete agency', :form => 'delete_form', :class => ['delete_link'], :data => { :confirm => 'Are you sure?' }
  .sub_navigation
    %a.back{ :href => agencies_path } &#8592; Back to grid
    .clear
