%h1= @item.name

.profile
  .img{ :style => "background-image:url('#{@item.image.url(:full)}');"}

  = render "artist_contacts", :item => @item
.bio
  .title
    %h2 Bio
  %p
    - if locale == :lv
      = raw @item.bio_lv
    - if locale == :en
      = raw @item.bio_en
    - if locale == :ru
      = raw @item.bio_ru
.clear
- if is_admin?
  %a.button{ :href => edit_agency_path( :id => @item.id ), :title => t(:edit) }

.sub_navigation
  %a.back{ :href => agencies_path }
    &#8592;
    = t(:back)
  .clear
  .form_submit
    = render "form_submit"
