%h1= I18n.t( :venues, :scope => :titles )

.side_navigation
  .links
    = render "music_submenu"

  - if is_admin?
    %a.button{ :href => new_venue_path, :title => t(:add) }

.items{ 'data-view' => :tiles, 'data-sort' => :asc  }
  = render "view_controls"
  .item_wrap.content_wrap
    = render "venue_list"
  .clear
.clear
