- @classifieds.each do |classified|
  .classifieds_item{ 'data-category' => classified.category, "data-impressions" => classified.impressionist_count, "data-time" => classified.created_at.to_time.to_i }
    .category_tag
      - case classified.category
      - when 1
        = t(:looking_for)
      - when 2
        = t(:buying)
      - when 3
        = t(:selling)
    .content
      .left
        - image_path = classified.classified_images.first ? classified.classified_images.first.image.url(:thumb_2) : ""
        %a{ :href => classified_path( :id => classified.id ) }
          .img{ :style => "background-image: url('" + image_path + "');"}
        .created_at
          = "#{t(:created_at)}:"
          = classified.created_at.strftime("%F %T")
      .right
        %a{ :href => classified_path( :id => classified.id ) }
          %h2= classified.title
        %p= classified.content
        %a.more_link{ :href => classified_path( :id => classified.id ) }
          &raquo;
          = t(:read_more)
        .created_at
          = "#{t(:created_at)}:"
          = classified.created_at.strftime("%F %T")
    .clear
.clear
= will_paginate @classifieds
