%h1= I18n.t( :classifieds, :scope => :titles )
- unless @classified.new_record?
  = form_for @classified, :url => classified_path( :id => @classified.id ), :html=>{ :id=>'delete_form' }, :method => 'delete' do |f|
    // button will be rendered in next form

= form_for @classified, :url => ( @classified.new_record? ? classifieds_path : classified_path( :id => @classified.id ) ), :html => { :multipart => true } do |f|
  %h2
    - if @classified.new_record?
      = I18n.t( :add_new_classified, :scope => :titles )
    - else
      = I18n.t( :edit_classified, :scope => :titles )
  .content
    .form-item
      = f.label :category, "#{t(:category)}:"
      = f.select :category, options_for_select([['Meklē', 1], ['Pērk', 2], ['Pārdod', 3]], @classified.category)
    .form-item
      = f.label :title, "#{t(:title)}:"
      = f.text_field :title, :required => true
      %p.note= raw t(:time_warning)
      / .img{ :style => "background-image:url('#{@classified.image.url(:full)}')"}
      / = f.file_field :image
    .form-item
      = f.label :content, "#{t(:content)}:"
      = f.text_area :content, :required => true, :minlength=>50, :maxlength=>500
      %p.note= raw t(:content_warning)
    .form-item
      = f.label :author_name, "#{t(:author)}:"
      = f.text_field :author_name, :required => true, :value => user_signed_in? && @classified.new_record? ? current_user.full_name : @classified.author_name
    .form-item
      = f.label :phone, "#{t(:phone)}:"
      = f.text_field :phone
    .form-item
      = f.label :email, "#{t(:email)}:"
      = f.text_field :email, :required => true
    .form-item
      = f.label :webpage, "#{t(:webpage)}:"
      = f.text_field :webpage, :placeholder => "http://", :required => true
    .form-item
      = f.label :location, "#{t(:location)}:"
      = f.text_field :location, :required => true

    .file_template.template
      .image_item
        = f.fields_for :classified_images, ClassifiedImage.new, :child_index => "_template_" do |ff|
          = ff.file_field :image, :required => false

    .form-item.image_field
      %label= "#{t(:pictures)}:"
      .upload_button.button.small{ :title => t(:upload), :disabled => @classified.classified_images.count >= 4 ? "disabled" : nil }
      .image_wrap
        - @classified.classified_images.each do |classified_image|
          .image_item
            %a{ :href => classified_image.image.url(:full) }
              .img{ :style => "background-image:url('#{classified_image.image.url(:thumb)}');"}

      %p.note= raw t(:file_warning)
    .form-item
      = f.label :youtube, "Video:"
      = f.text_field :youtube, :placeholder => "Youtube URL"
    .form-item
      = f.label :soundcloud, "Audio:"
      = f.text_field :soundcloud, :placeholder => "Soundcloud URL"
    .clear

  - if @classified.new_record? || can_edit?
    = f.submit ( @classified.new_record? ? t(:create) : t(:save) )
  - if !@classified.new_record? && can_delete?
    = submit_tag t(:delete), :form => 'delete_form', :class => ['delete_link'], :data => { :confirm => 'Are you sure?' }
  .clear

  .sub_navigation
    %a.back{ :href => classifieds_path }
      &#8592
      = t(:back)
    .clear
