%h1= I18n.t( :classifieds, :scope => :titles )

.classifieds_wrap{ 'data-view' => :tiles, 'data-sort' => :date, 'data-filter' => 0  }
  - unless user_signed_in?
    .sign_in_dialog
      %h5= t(:please_authorize)
      - [:facebook,:twitter].each do |provider|
        %a.sign_in_btn{ :href => user_omniauth_authorize_path(provider), :class => provider }
          ="#{t(:sign_in_with)} #{provider.to_s.titleize}"
        %br

  - else
    = render "user_info"
  .view_controls
    .view_as
      %a{ 'data-view' => :tiles }
        .tiles
      %a{ 'data-view' => :list }
        .list
    .filter
      %a{ 'data-filter' => 0, :href => classifieds_path }= t(:all)
      %a{ 'data-filter' => 1, :href => classifieds_path( :category => 1 ) }= t(:looking_for)
      %a{ 'data-filter' => 2, :href => classifieds_path( :category => 2 ) }= t(:buying)
      %a{ 'data-filter' => 3, :href => classifieds_path( :category => 3 ) }= t(:selling)
    .sorting
      %a{ 'data-sort' => :date }= t(:newest)
      %a{ 'data-sort' => :view_count }= t(:popular)
    .clear
  .classifieds
    = render 'classified_list'
  .clear
  %a.button.add{ :href => new_classified_path, :title => t(:add) }
