- if user_signed_in?
	= render "user_info"
.classifieds_item
	.category_tag
		- case @classified.category
		- when 1
			= t(:looking_for)
		- when 2
			= t(:buying)
		- when 3
			= t(:selling)
	.left
		- image_path = @classified.classified_images.first ? @classified.classified_images.first.image.url(:thumb_2) : ""
		.img{ :style => "background-image: url('" + image_path + "');"}
		.created_at
			= "#{t(:created_at)}:"
			= @classified.created_at.strftime("%F %T")
	.right
		%h2= @classified.title
		%p= @classified.content
		- if @classified.youtube.present?
			- yt = oembed_yt @classified.youtube
			- if yt.video?
				.iframe
					= raw yt.html
		.images
			- @classified.classified_images.each do |image|
				.image_item
					%a{ :href => image.image.url(:original), "data-lightbox" => image.id }
						.img{ :style => "background-image:url('#{image.image.url(:thumb)}');"}
		- if @classified.soundcloud.present?
			- sc = oembed_sc @classified.soundcloud
			- if sc.rich?
				.soundcloud
					= raw sc.html
		.contact_info
			.item
				%span.red= "#{t(:location)} -"
				= @classified.location
			.item
				%span.red= "#{t(:phone)} -"
				= @classified.phone
			.item
				%span.red= "#{t(:email)} -"
				= @classified.email
			.item
				%span.red= "#{t(:homepage)} -"
				= @classified.webpage

		.view_count
			%span.red= "#{t(:impressions)} -"
			= @classified.impressionist_count
	.clear

- if can_edit? || can_delete?
	%a.button{ :href => edit_classified_path( :id => @classified.id ), :title => t(:edit) }

.sub_navigation
	%a.back{ :href => classifieds_path }
		&#8592;
		= t(:back)
