.controller-artist_like.on-single form .bio textarea,
.controller-artists.on-single form .bio textarea
{
  width: 100%;
  height: 500px;
  resize: vertical;
  font-family: aller, sans-serif;
}

.controller-artist_like.on-single form .player textarea,
.controller-artists.on-single form .player textarea
{
  width: 100%;
  height: 500px;
  resize: vertical;
  font-family: aller, sans-serif;
}
