.controller-artist_like.on-single h1,
.controller-artists.on-single h1
{
  text-align: left;
  margin-bottom: 30px;
}
.controller-artist_like.on-single.container .profile a,
.controller-artists.on-single.container .profile a
{
  color: #231a1d;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.controller-artist_like.on-single.container a:hover,
.controller-artists.on-single.container a:hover
{
  color: #bf2130;
  text-decoration: underline;
}
.controller-artist_like.on-single .profile,
.controller-artists.on-single .profile
{
  float: left;
  width: 500px;
  margin-right: 50px;
}
.controller-artist_like.on-single .profile .img,
.controller-artists.on-single .profile .img
{
  position: relative;
  max-width: 100%;
  height: 350px;
  background-color: #bf2130;
  background-size: cover;
  background-position: center;
}
.controller-artists.on-single .profile .music_genre_logo
{
  background-image: url("/assets/news_new.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75px auto;
  height: 75px;
  right: -20px;
  position: absolute;
  top: -30px;
  width: 75px;
}
.controller-artist_like.on-single .contacts .left,
.controller-artists.on-single .contacts .left
{
  float: left;
}
.controller-artist_like.on-single .contacts .right,
.controller-artists.on-single .contacts .right
{
  float: right;
}
.controller-artist_like.on-single .contacts h4,
.controller-artists.on-single .contacts h4
{
  color: #231a1d;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 15px;
}
.controller-artist_like.on-single .social_links,
.controller-artists.on-single .social_links
{
  line-height: 0;
}
.controller-artist_like.on-single .contact_entry,
.controller-artists.on-single .contact_entry
{
  color: #231a1d;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.controller-artists.on-single .player
{
  margin: 40px 0;
}
.controller-artist_like.on-single .bio,
.controller-artists.on-single .bio
{
  width: 450px;
  float: left;
  margin-top: 50px;
  margin-bottom: 60px;
}
.controller-artist_like.on-single .bio .title,
.controller-artists.on-single .bio .title
{
  text-align: center;
}
.controller-artist_like.on-single .bio .title h2,
.controller-artists.on-single .bio .title h2
{
  font-size: 30px;
  margin: 30px 0;
  display: inline-block;
  position: relative;
  padding-left: 27px;
  color: #231a1d;
}
.controller-artist_like.on-single .bio .title h2:before,
.controller-artists.on-single .bio .title h2:before
{
  content:"";
  position: absolute;
  background-image: url("/assets/oakleaf.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 25px;
  width: 24px;
  display: inline-block;
  top: 17px;
  left: 0;
}
.controller-artist_like.on-single .bio p,
.controller-artists.on-single .bio p
{
  font-size: 14px;
  line-height: 22px;
  color: #231a1d;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-artist_like.on-single h1,
  .controller-artists.on-single h1
  {
    text-align: center;
  }
  .controller-artist_like.on-single .profile,
  .controller-artists.on-single .profile
  {
    float: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .controller-artist_like.on-single .bio,
  .controller-artists.on-single .bio
  {
    float: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

/* Media Queries for MOBLILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-artists.on-single .profile,
  .controller-artists.on-single .bio {
    width: 100%;
  }
}
