.controller-contacts.on-single form textarea
{
  width: 100%;
  height: 200px;
  resize: vertical;
  font-family: aller, sans-serif;
}
.controller-contacts.on-single form label
{
  margin-bottom: 5px;
}
.controller-contacts.on-single form .field_wrap
{
  margin-bottom: 20px;
}
