%h1 Subscriber list
%table
  %thead
    %tr
      %th E-mail
      %th Subscribed on

  %tbody
    - @subscribers.each do |subscriber|
      %tr
        %td
          = subscriber.email
        %td
          = subscriber.created_at
