/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.controller-about.container {
	margin-top: -160px;
  /*text-align: justify;*/
}

.controller-about .about {
	padding-top: 65px;
	float: left;
	margin-bottom: 40px;
	width: 700px;
}
.controller-about .paragraph {
	margin-bottom: 40px;
}
.controller-about .about a {
  font-weight: bold;
  line-height: 22px;
  color: #bf2130;
  text-decoration: none;
}
.controller-about .paragraph a:hover {
  text-decoration: underline;
}
.controller-about .paragraph h2 {
  	overflow: hidden;
  	display: inline-block;
  	font-size: 30px;
  	line-height: 45px;
  	font-weight: bold;
  	color: #231a1d;
  	padding-bottom: 30px;
}
.controller-about .paragraph p {
	font-size: 14px;
  	line-height: 22px;
  	color: #8c8585;
  	overflow: hidden;
}
.controller-about .paragraph .paragraph-list {
  	padding-left: 20px;
  	padding-top: 7px;
  	padding-bottom: 7px;
  	list-style-type: circle;
}
.controller-about .paragraph li {
	font-size: 14px;
  	line-height: 22px;
  	color: #8c8585;
  	margin-left: 30px;
  	padding-top: 15px;
    list-style-type: disc;
}
.controller-about .paragraph .members li {
  list-style-type: none;
  margin-left: 0;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-about .about {
    width: 100%;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-about.container {
    margin-top: -130px;
    width: 90%;
  }
  .controller-about .about-nav {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 250px;
    margin-right: 50px;
    float: none;
    clear: both;
  }
  .controller-about .paragraph .paragraph-list {
    padding-left: 20px;
  }
  .controller-about .paragraph li {
    margin-left: 40px;
  }
  .controller-about .about {
    width: 100%;
  }
}
