.controller-artist_like.container,
.controller-artists.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-artists .genre_wrap
{
  padding-top: 80px;
  padding-bottom: 40px;
  width: 250px;
  margin-right: 30px;
  float: left;
  text-align: center;
}
.controller-artists .genre_wrap .genres
{
  width: 100%;
  background-color: #bf2130;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  background-image: url("/assets/pattern.svg");
  background-position: 137% -180%;
  background-size: 240% auto;
  text-align: left;
  margin-bottom: 40px;
}
.controller-artists .genre_wrap ul
{
  padding: 20px 0;
}
.controller-artists .genre_wrap .view_all,
.controller-artists .genre_wrap li
{
  padding-left: 23px;
  cursor: pointer;
}
.controller-artists .genre_wrap li
{
  text-transform: capitalize;
}
.controller-artists .genre_wrap .checkbox
{
  background-color: #ab1b29;
  border: 3px solid #fff;
  border-radius: 100px;
  float: right;
  height: 12px;
  margin-right: 20px;
  margin-top: 11px;
  width: 12px;
}
.controller-artists .genre_wrap .view_all
{
  background-color: #ab1b29;
  padding-top: 15px;
  padding-bottom: 20px;
}
.controller-artists .view_all:hover .checkbox,
.controller-artists li:hover .checkbox
{
  background-color:#CD767F;
}
.controller-artists .genre_wrap .checkbox.active
{
  background-color: #fff;
}
.controller-artist_like .items,
.controller-artists .artists
{
  margin-bottom: 120px;
  width: 700px;
  float: left;
  margin-top: 35px;
}
.controller-artist_like .item_wrap
{
  margin-top: 15px;
  padding-top: 30px;
  border-top: 5px solid #bf2130;
}
.controller-artist_like .items h3,
.controller-artists .artists h3
{
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  color: #231a1d;
  text-transform: uppercase;
  border-bottom: 5px solid #bf2130;
  margin-bottom: 30px;
}

.controller-artists .genre
{
  margin-bottom: 30px;
}
/*.controller-artist_like .artist_item,
.controller-artists .artist_item
{
  width: 225px;
  margin-right: 12px;
  float: left;
  margin-bottom: 30px;
}
.controller-artist_like .artist_item:nth-child(3n),
.controller-artists .artist_item:nth-child(3n)
{
  margin-right: 0;
}*/
.controller-artist_like .artist_item .img,
.controller-artists .artist_item .img
{
  /*width: 225px;*/
  min-height: 145px;
  height: auto;
  max-width: 100%;
  background-color: #bf2130;
  background-size: cover;
  background-position: center;
}

/* responsive grid for artist items */

.controller-artist_like .artist_item,
.controller-artists .artist_item
{
  width: 32%;
  background: white;
  padding: 10px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controller-artist_like .items[data-view="list"] .artist_item,
.controller-artists .items[data-view="list"] .artist_item
{
  width: 100%;
}
.controller-artists .artist_item:nth-child(n)
{
  margin-right: 2%;
  margin-bottom: 2%;
}
.controller-artists .artist_item:nth-child(3n)
{
  margin-right: 0;
}
@media (max-width: 768px)
{
  .controller-artist_like .artist_item,
  .controller-artists .artist_item
  {
    width: 48%;
  }
  .controller-artists .artists_item:nth-child(n)
  {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .controller-artists .artists_item:nth-child(2n)
  {
    margin-right: 0;
  }
}
.controller-artists .artists_item img
{
  max-width: 100%;
}
@media only screen and (max-width: 370px)
{
  .controller-artists .artist_item
  {
    width: 90%;
  }
}

/* end of the grid */

.controller-artist_like a.artist_item,
.controller-artists a.artist_item
{
  text-decoration: none;
}
.controller-artist_like .artist_item h4,
.controller-artists .artist_item h4
{
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #22191c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.controller-artist_like .artist_item h5,
.controller-artists .artist_item h5
{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #22191c;
}
.controller-artist_like .items[data-view="list"] .artist_item h5,
.controller-artist_like .items[data-view="list"] .artist_item .img,
.controller-artists .artists[data-view="list"] .artist_item h5,
.controller-artists .artists[data-view="list"] .artist_item .img
{
  display: none;
}
.controller-artist_like .items[data-view="list"] .artist_item,
.controller-artists .artists[data-view="list"] .artist_item
{
  float: none;
  margin-bottom: 0;
  margin-right: 0;
  display: block;
}

/*Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px) {
  .controller-artist_like.container,
  .controller-artists.container
  {
    width: 750px;
  }
  .controller-artists .genre_wrap
  {
    margin-right: 30px;
  }
  .controller-artist_like .items,
  .controller-artists .artists
  {
    width: 470px;
  }
/*  .controller-artist_like .artist_item:nth-child(3n),
  .controller-artists .artist_item:nth-child(3n)
  {
    margin-right: 12px;
  }
  .controller-artist_like .artist_item:nth-child(2n),
  .controller-artists .artist_item:nth-child(2n)
  {
    margin-right: 0;
  }*/
}

/* Media Queries for MOBLILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-artist_like.container,
  .controller-artists.container
  {
    margin-top: -130px;
    width: 90%;
  }
  .controller-artist_like .items,
  .controller-artists .artists
  {
    width: 100%;
  }
  .controller-artists .genre_wrap
  {
    width: 100%;
    padding-top: 40px;
    float: none;
    margin-right: 0;
  }
  .controller-artists .genre_wrap .genres
  {
    width: 100%;
  }
  .controller-artists .artists
  {
    width: 100%;
  }
  .view_controls
  {
    margin-right: 0;
  }
}

@media only screen and (max-width : 369px)
{
/*  .controller-artist_like .container,
  .controller-artists .container {
    width: 300px;
  }*/

  .controller-artists .artist_item {
    width: 100%;
    margin-right: 20px;
  }
  .controller-artists .artist_item .img {
    width: 100%;
    height: 115px;
  }
}
