.controller-classifieds.container {
  margin-top: -160px;
}
.controller-classifieds .classifieds_wrap {
  margin-top: 35px;
  display: inline-block;
  width: 100%;
}
.controller-classifieds .classifieds {
  border-top: #bf2130 solid 6px;
  margin-top: 20px;
  padding-top: 40px;
  position: relative;
  margin-bottom:90px;
}
.controller-classifieds .classifieds_item {
  background-color: #e7e7e7;
  min-height: 150px;
  height: auto;
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
}
.controller-classifieds .classifieds_item .left {
  float: left;
  width: 200px;
}
.controller-classifieds .classifieds_item .right {
  float: right;
  position: relative;
  height: 150px;
  width: 755px;
  overflow: hidden;
}
.controller-classifieds .classifieds_item.expand .right
{
  height: auto;
}
.controller-classifieds [data-view="tiles"] .classifieds_item
{
  width: 230px;
  float: left;
  margin-right: 25px;
}
.controller-classifieds [data-view="tiles"] .left,
.controller-classifieds [data-view="tiles"] .right
{
  float: none;
  width:200px;
}
.controller-classifieds [data-view="tiles"] .more_link
{
  display: none;
}


.controller-classifieds .classifieds_item .category_tag {
  background-color: #bf2130;
  border-radius: 6px;
  line-height: 26px;
  position: absolute;
  right: -10px;
  top: -22px;
  padding: 0 15px 4px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.controller-classifieds .created_at {
  margin-top: 5px;
  font-family: aller, sans-serif;
  font-size: 12px;
  color: #929292;
}
.controller-classifieds .left .created_at {
  display: none;
}

.controller-classifieds .left .img {
  width: 200px;
  min-height: 150px;
  background-color: #bf2130;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}


.controller-classifieds .right a
{
  text-decoration: none;
}
.controller-classifieds .right h2
{
  color: #bf2130;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: 6px;
  text-transform: capitalize;
}
.controller-classifieds .right p
{
  width: 100%;
  font-size: 14px;
  height: 6.5em;
  overflow: hidden;
  text-align: justify;
}
.controller-classifieds .classifieds_item .right .more_link
{
  float: right;
}
.controller-classifieds .classifieds_item.expand .more_link
{
  opacity: 0;
  pointer-events: none;
}
@media only screen and (min-width: 1025px) {
  .controller-classifieds [data-view="tiles"] .classifieds_item:nth-child(4n)
  {
    margin-right:0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .controller-classifieds [data-view="tiles"] .classifieds_item {
    margin-right: 20px;
}
  .controller-classifieds [data-view="tiles"] .classifieds_item:nth-child(3n)
  {
    margin-right:0;
  }
}

/* Media Queries for TABLETS / MEDIUM sized screens */
@media only screen and (max-width: 1024px) {
  .controller-classifieds .classifieds_item .right {
    width: 100% !important;
    margin-top: 15px;
  }
}
/* Media Queries for MOBILE / SMALL sized screens */
@media only screen and (max-width: 768px) {
  .controller-classifieds {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .controller-classifieds.container {
    margin-top: -130px;
  }
  .controller-classifieds .view_controls {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 500px) {
  .controller-classifieds .classifieds .category_tag p {
    font-size: 14px;
    line-height: 1.7em;
  }
  .controller-classifieds .left .img {
    width: 100%;
  }
  .controller-classifieds .right h2 {
    font-size: 26px;
  }
  .controller-classifieds .view_controls .filter,
  .controller-classifieds .view_controls .sorting,
  .controller-classifieds .view_controls .view_as {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
  }
}
