.template
{
  display: none;
}
.container h1
{
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin-bottom: 80px;
}
.date
{
  width: 60px;
  margin-right: 20px;
  letter-spacing: 0.25px;
  color: #ffffff;
  text-align: center;
}
.date .day
{
  height: 54px;
  width: 60px;
  font-weight: bold;
  font-size:18px;
  line-height: 53px;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  background-position: -14px 0;
}
.date .month
{
  height: 40px;
  font-weight: bold;
  font-size:14px;
  line-height: 38px;
  background-color: #231A1D;
  text-transform: uppercase;
}

.festival_item h2,
.news_item h2
{
 // width: 470px;
 // white-space: nowrap;
 // overflow: hidden;
 // text-overflow: ellipsis;
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #231a1d;
  margin-bottom: 15px;
}
.news_item h2
{
  // text-transform: uppercase;
}
.news_item h2:hover {
  color: #bf2130;
}
.news_item .text
{
  font-size: 14px;
  line-height: 22px;
  color: #8c8585;
  height: 44px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 5px;
}
.news_item .text p
{
  margin: 0;
}
.classifieds_item a.more_link,
.news_item a
{
  font-weight: bold;
  line-height: 22px;
  font-size: 14px;
  color: #bf2130 !important;
  text-decoration: none !important;
  cursor: pointer;
}
.classifieds_item a.more_link:hover,
.news_item a:hover
{
  text-decoration: underline;
}
.festival_item,
.news_item
{
  margin-bottom: 40px;
}
.festival_item .date,
.news_item .date
{
  float: left;
  margin-top: 7px;
}
.festival_item .content,
.news_item .content
{
  width: 470px;
  float: left;
  margin-top: -7px;
}
.container form input[type="submit"]
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  font-family: aller, sans-serif;
  border-radius: 7px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  height: 56px;
  padding-bottom:6px;
  line-height: 48px;
  text-align: center;
  width: 190px;
  border: 0;
  margin-bottom: 30px;
  cursor: pointer;
}
.controller-sessions.action-new.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-sessions.action-new.container h1
{
  margin-bottom:140px;
}
.sign_in_dialog
{
  text-align:center;

  margin-bottom:60px;
}
.sign_in_btn
{
  margin-top: 10px;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 29px auto;
  border-radius: 3px;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.sign_in_btn.facebook
{
  background-image:url("/assets/facebook_white.svg");
  background-color:#3b5998;
}
.sign_in_btn.twitter
{
  background-image:url("/assets/twitter_white.svg");
  background-color:#55acee;
}
.button
{
  position: relative;
  display: inline-block;
  height: 62px;
  width: 190px;
  border: 0;
  margin-bottom: 30px;
  cursor: pointer;
}
.button.small
{
  height: 42px;
  width: 150px;
}

.button:before
{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width: 190px;
  height: 56px;
  border-radius: 7px;
  background-color: #941723;
}
.button.small:before
{
  width: 150px;
  height: 36px;
}
.button:after
{
  content: attr(title);
  position: absolute;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  border-radius: 7px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  height: 56px;
  line-height: 48px;
  text-align: center;
  width: 190px;
  top:0;
  left:0;
  transition: top 0.1s ease-in-out 0s;
  -webkit-transition: top 0.1s ease-in-out 0s;
}
.button.small:after
{
  width: 150px;
  height: 36px;
  font-size: 18px;
  line-height: 32px;
}
.button:active:after
{
  top:6px;
}

.button[disabled="disabled"]
{
  pointer-events: none;
}
.button[disabled="disabled"]:before
{
  background-color: #ccc;
}
.button[disabled="disabled"]:after
{
  background-color: #E7E7E7;
  background-image: none;
}
.delete_link
{
  float: right;
}
.underline
{
  position: relative;
  margin-bottom: 25px;
}
.underline:after
{
  position:absolute;
  bottom: -13px;
  left: 0;
  width: 28px;
  height: 6px;
  content: "";
  background-color:#BD2130;
}

.social_links a:hover,
.social_links a
{
  text-decoration: none!important;
  margin-right: 8px;
}
.social_links .social_icon
{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.social_links a:last-child
{
  margin-right: 0;
}
.social_links .facebook .social_icon
{
  background-image: url("/assets/facebook.svg");
}
.social_links .twitter .social_icon
{
  background-image: url("/assets/twitter.svg");
}
.social_links .draugiem .social_icon
{
  background-image: url("/assets/draugiem.svg");
}
.social_links .spotify .social_icon
{
  background-image: url("/assets/spotify.svg");
}

.social_links .facebook .social_icon.black
{
  background-image: url("/assets/facebook_black.svg");
}
.social_links .twitter .social_icon.black
{
  background-image: url("/assets/twitter_black.svg");
}
.social_links .draugiem .social_icon.black
{
  background-image: url("/assets/draugiem_black.svg");
}
.social_links .spotify .social_icon.black
{
  background-image: url("/assets/spotify_black.svg");
}

.view_controls
{
  margin-bottom: 2px;
}
.view_controls >div
{
  float: right;
}
.view_controls .filter
{
  float: left;
}
.view_controls a
{
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #bf2130;
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.view_controls a.active
{
  opacity: 1;
}
.view_controls .filter a
{
  margin-right: 10px;
}
.view_controls .view_as a
{
  margin-left: 15px;
}
.view_controls .sorting a
{
  margin-right: 20px;
}
.view_controls .tiles,
.view_controls .list
{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.view_controls .tiles
{
  background-image: url("/assets/tiles.svg");
}
.view_controls .list
{
  background-image: url("/assets/list.svg");
}

.side_navigation
{
  float: left;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  margin-right: 30px;
  padding-bottom: 40px;
  padding-top: 80px;
  text-align: center;
  width: 250px;
}
.mobile .side_navigation
{
  position: relative;
}

.side_navigation ul
{
  padding: 20px 0;
}
.side_navigation li
{
  cursor: pointer;
  padding-left: 23px;
}
.side_navigation .links
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  background-position: 137% -180%;
  background-size: 240% auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 40px;
  text-align: left;
  width: 250px;
}
.side_navigation a
{
  text-decoration: none !important;
  color:#FFFFFF !important;
}
.side_navigation a:hover,
.side_navigation a.active
{
  color:#231a1d;
}

.sub_navigation
{
  border-top: solid 6px #bf2130;
  margin-bottom: 100px;
}
.sub_navigation a
{
  color: #231a1d;
  text-decoration: none;
  font-weight: bold;
}
.sub_navigation a:hover
{
  color: #bf2130;
  text-decoration: underline;
}
.sub_navigation .back
{
  float: left;
}
.sub_navigation .next
{
  float: right;
}

.sub_navigation .form_submit
{
  text-align: center;
  padding: 25px 0;
  line-height: 2em;
  margin-bottom: -80px;
}
.sub_navigation .form_submit a
{
  color: #bf2130;
  font-weight: normal;
}
.user_data
{
  color: #bf2130;
  text-align: right;
  margin-bottom: 30px;
}
.on-single .user_data
{
  margin-top: -30px;
  margin-bottom: 50px;
}
.user_data span
{
  padding-left: 10px;
}
.user_data a
{
  color: #bf2130;
  text-decoration: none;
}
.user_data a:hover
{
  text-decoration: underline;
}
.user_data .user_image
{
  vertical-align: text-bottom;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}
.pagination
{
  text-align: center;
  position:absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
}

.pagination > *
{
  background-color: #bf2130;
  border-radius: 3px;
  color: white !important;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-decoration: none !important;
  width: 24px;
}
.pagination .current
{
  font-style: normal;
  position: relative;
}
.pagination .current:after
{
  background-color: #bf2130;
  bottom: -5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
.pagination > .disabled
{
  display: none;
}

.newsletter .duplicate_msg,
.newsletter .success_msg,
.newsletter.success form
{
  display: none;
}
.newsletter.duplicate .duplicate_msg
{
  display: block;
}
.newsletter.success .success_msg
{
  display: block;
}

.share_buttons
{
  margin-top: 20px;
}
.btn
{
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  background-color:#BF2030;
  line-height: 45px;
  vertical-align: middle;
}
.btn.draugiem
{
  background-image: url("/assets/draugiem_white.svg");
  background-position: 10px 10px;
}
.btn.facebook
{
  background-image: url("/assets/facebook_white_alt.svg");
  background-position: 16px 10px;
  background-size: 13px 23px;
}
.btn.twitter
{
  background-image: url("/assets/twitter_white.svg");
  background-position: 12px center;
  background-size: 23px 19px;
}


@media only screen and (max-width : 1024px)
{
  .sub_navigation {
    width: 100%;
  }
  .view_controls
  {
    margin-right: 26px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  /* Typography rules for mobile */
  .container {
    width: 360px;
  }
  body {
    font-size: 100%;
  }
  .container h1 {
    font-size: 32px;
    line-height: 1.25em;
  }
  .container h2 {
    font-size: 22px;
  }
  .container h3 {
    font-size: 20px;
  }
  .container h4 {
    font-size: 18px;
  }
  .container p {
    font-size: 16px;
    line-height: 1.25em;
  }
}
