/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.controller-contacts.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-contacts .contacts_wrap a
{
  text-decoration: none;
  color: #bf2130;
}
.controller-contacts .contacts_wrap a:hover
{
  text-decoration: underline;
}
.controller-contacts .contacts_wrap h4
{
	color: #231a1d;
	text-transform: capitalize;
	font-size: 18px;
}
.controller-contacts .contacts_wrap
{
	padding-top: 80px;
	min-height: 400px;
}
.controller-contacts .contacts_wrap > div
{
	float: left;
  margin-right: 150px;
}
.controller-contacts .contacts_wrap .social_links
{
	margin-right: 0;
}

.controller-contacts .contacts_wrap .newsletter input[type="email"]
{
  border: 1px solid #231a1d;
  color: #231a1d;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 26px;
  padding: 5px 10px;
  vertical-align: bottom;
  width: 230px;
}
.controller-contacts .contacts_wrap .newsletter input[type="submit"]
{
	background-color: #bf2130;
	background-image: url("/assets/pattern.svg");
	background-position: 91% bottom;
	background-size: 263% auto;
	border: 0 none;
	color: #231a1d;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.25px;
	line-height: 24px;
	margin-top: 10px;
	padding: 7px 27px 7px;
	text-transform: uppercase;
  display: block;
  width: auto;
  height: auto;
  border-radius: 0;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
	.controller-contacts .contacts_wrap > div
  {
		float: none;
    padding-bottom: 50px;
	}
}
