.controller-festivals.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}
.controller-festivals .lms
{
  padding-top: 70px;
  margin-left: 20px;
  float: left;
  width: 175px;
  margin-right: 30px;
}

.controller-festivals .lms_logo_image
{
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 196px;
  width: 200px;
  margin-bottom: 30px;
}
.controller-festivals .lms_logo_image.red
{
    background-image: url("/assets/lms_logo_red.svg");
}
.controller-festivals .festivals
{
  float: left;
  border-left: 3px solid #231A1D;
  margin-left: 80px;
  padding-left: 20px;
  margin-top: 70px;
  margin-bottom: 140px;
}
.controller-festivals .festival_item h2
{
  margin-top: 30px;
}
.controller-festivals .festival_item h2:hover
{
  color: #bf2130 !important;
}
.controller-festivals .festivals > .month:first-child
{
  margin-top: 8px;
}
.controller-festivals .festivals > .month
{
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-left: -120px;
  margin-top: -35px;
  text-align: right;
  text-transform: uppercase;
  width: 90px;
}
.controller-festivals .festivals .festival_item
{
  position: relative;
}
.controller-festivals .festivals .festival_item:after
{
  background-color: #231a1d;
  border-radius: 100%;
  content: "";
  height: 12px;
  left: -27.5px;
  position: absolute;
  top: 52px;
  width: 12px;
}
.festival-date {
  padding-top: 30px;
  font-weight: bold;
}
.festival-date-list {
  text-decoration: none !important;
  color: #231a1d;
  font-size: 14px;
  margin-top: -5px;
}
.festival_item a {
  text-decoration: none;
}
.festival-location {
  margin-top: -5px;
  font-weight: bold;
}
.right {
  float: left !important;
  clear: both;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-festivals .lms
  {
    display: none;
  }
  .controller-festivals .festivals
  {
    margin-left: 110px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-festivals .festivals {
    margin-left: 0;
  }
  .controller-festivals.container {
    margin-top: -130px;
  }
  .controller-festivals .festivals  > .month {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .festival_item .content {
    width: 300px;
  }
  .festival_item .content h2 {
    width: 300px;
    /*margin-top: 15px;*/
  }
  .festival_item p {
    height: 42px;
  }
}
