footer
{
  width: 100%;
  background-color: #231A1D;
  color: #9c9c9c;
  letter-spacing: 0.25px;
}
footer .footer_wrap
{
  width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}
footer a
{
  color: #9c9c9c !important;
  text-decoration: none;
}
footer a:hover
{
  color: #BD2130;
  text-decoration: underline;
}
footer h4
{
  color: #f4f4f4;
  text-transform: capitalize;
  font-size: 18px;
}
footer h4 span
{
  color: #BD2130;
}
footer .page_footer > div
{
  float: left;
}
footer .latest_news
{
  width: 390px;
  margin-right: 130px;
}
footer .newsletter
{
  width: 280px;
  margin-right: 100px;
}
footer .newsletter input[type="email"]
{
  border: 0 none;
  color: #231a1d;
  padding: 5px 10px;
  width: 230px;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.25px;
}
footer .newsletter input[type="submit"]
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  background-position: 91% bottom;
  background-size: 263% auto;
  border: 0 none;
  color: #231a1d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 24px;
  margin-top: 10px;
  padding: 5px 27px 8px;
  text-transform: uppercase;
  cursor: pointer;
}
footer .newsletter ::-webkit-input-placeholder {
   color: #231a1d;
}

footer .newsletter :-moz-placeholder { /* Firefox 18- */
   color: #231a1d;
}

footer .newsletter ::-moz-placeholder {  /* Firefox 19+ */
   color: #231a1d;
}

footer .newsletter :-ms-input-placeholder {
   color: #231a1d;
}

footer .latest_news a
{
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}


footer .branding
{
  padding-top: 100px;
  padding-bottom: 25px;
  font-size: 12px;
  line-height: 24px;
}
footer .branding .copy
{
  float:left;
}
footer .branding .jveart
{
  float:right;
  vertical-align: sub;
}
footer .jveart .img
{
  height: 20px;
  width: 50px;
  display: inline-block;
  background-image: url("/assets/jveart_logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  footer .footer_wrap
  {
    width: 570px;
  }
  footer .latest_news
  {
    display: none;
  }
  footer .page_footer .social_links
  {
    float:right;
  }
  footer .branding
  {
    padding-top: 45px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  footer .footer_wrap
  {
    width: 300px;
  }
  footer .newsletter, .social_links
  {
    width: 100%;
    margin: 0;
  }
  footer .social_links
  {
    margin-top: 30px;
  }
  footer .branding
  {
    font-size: 10px;
    padding-top: 25px;
  }
}
