.controller-history.container
{
  letter-spacing: 0.25px;
  margin-top: -160px;
}

.controller-history .content_wrap
{
  float: left;
  margin-bottom: 80px;
  margin-top: 35px;
  width: 700px;
}
.controller-history .content_wrap .img_title
{
  background-image: url("/assets/dns.svg");
  background-size: 100% auto;
  height: 235px;
  margin: 60px auto;
  width: 407px;
}
.controller-history .content_wrap .content_item
{
  margin-bottom: 30px;
}
.controller-history .content_wrap .content_item .item_content
{
  float: left;
  width: 550px;
}
.controller-history .content_wrap .content_item .item_content h2
{
  color: #231a1d;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}
.controller-history .content_wrap .content_item .item_content p
{
  color: #8c8585;
  font-size: 14px;
  line-height: 22px;
}
.controller-history .content_wrap .content_item .img_thumbnail
{
  float: left;
  height: 120px;
  margin-right: 30px;
  width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.controller-history .content_wrap .content_item .img_thumbnail.milda
{
  background-image: url("/assets/briviba.svg");
}
.controller-history .content_wrap .content_item .img_thumbnail.gaismasp
{
  background-image: url("/assets/gaismasp.svg");
}
.controller-history .content_wrap .content_item .img_thumbnail.elements
{
  background-image: url("/assets/elements.svg");
}
.controller-history .content_wrap .content_item .img_thumbnail.dzsv
{
  background-image: url("/assets/dzsv.svg");
}
@media only screen and (min-width: 768px) and (max-width: 1024px)
{
  .controller-history.container
  {
    width: 768px;
  }
  .controller-history .sections_wrap
  {
    padding-top: 0;
    width: 100%;
  }
  .controller-history .sections_wrap .sections
  {
    margin: 30px auto;
  }
}
