.controller-home.container
{
  margin-top: -160px;
}
.controller-home h2
{
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #231a1d;
  margin-bottom: 15px;
}
.controller-home h2:hover
{
  color: #bf2130 !important;
}
.controller-home .latest_news
{
  width: 550px;
  margin-right: 90px;
  float: left;
  letter-spacing: 0.25px;
  padding-top: 140px;
  padding-bottom: 60px;
  position: relative;
}
.controller-home .latest_news .news_logo
{
  background-image: url("/assets/news_new.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75px auto;
  height: 75px;
  left: 14px;
  position: absolute;
  top: 92px;
  width: 75px;
}
.controller-home .sidebar
{
  width: 360px;
  float: left;
  margin-top: 35px;
}
.controller-home .sidebar h2
{
  text-align: center;
  margin-bottom: 30px;
}
.controller-home .sidebar .player
{
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  padding: 0 20px 30px;
}
.controller-home .sidebar .player h1
{
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 1.4em;
  padding: 20px 0 30px;
  margin-bottom: 0;
}
.controller-home .sidebar .player h1 a
{
  text-decoration: none;
  color: #fff;
}
.controller-home .sidebar .player iframe
{
  max-width: 100%;
  margin-bottom: 30px;
}
.controller-home .sidebar .img
{
  background-color: #bf2130;
  width:100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-home .latest_news
  {
    float: none;
    margin: 0 auto;
    width: 550px;
  }
  .controller-home .sidebar {
    margin: 0 auto;
    /*width: 550px;*/
    width: 100%;
    float: none;
    padding-bottom: 40px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-home.container {
    margin-top: -130px;
    width: 300px;
  }
  .controller-home .latest_news {
    padding-bottom: 20px;
    padding-top: 80px;
    margin-right: 0;
    width: 100%;
  }
  .controller-home .latest_news .news_logo {
    top: 42px;
  }
  .controller-home .news_item .content {
    width: 100%;
  }
  .news_item .date {
    margin-bottom: 15px;
  }
}
