.controller-news.container
{
  margin-top: -160px;
  letter-spacing: 0.25px;
}

.controller-news .latest_news
{
  position: relative;
  float: left;
  border-left: 3px solid #231A1D;
  margin-left: 80px;
  padding-left: 20px;
  margin-top: 75px;
  margin-bottom: 140px;
}
.controller-news .latest_news > .month:first-child
{
  margin-top: 8px;
}
.controller-news .latest_news > .month
{
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-left: -120px;
  margin-top: -35px;
  text-align: right;
  text-transform: uppercase;
  width: 90px;
}
.controller-news .latest_news .news_item
{
  position: relative;
}
.controller-news .latest_news .news_item:after
{
  background-color: #231a1d;
  border-radius: 100%;
  content: "";
  height: 12px;
  left: -27.5px;
  position: absolute;
  top: 52px;
  width: 12px;
}
.news_wrap .text p {
  padding-bottom: 20px;
}
.news_wrap .text img {
  max-width: 100%;
  height: auto;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{
  .controller-news .side_navigation
  {
    display: none;
  }
  .controller-news .latest_news
  {
    margin-left: 110px;
  }
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-news .latest_news {
    margin-left: 0;
  }
  .controller-news.container {
    margin-top: -130px;
  }
  .controller-news .latest_news  > .month {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .news_item .content {
    width: 300px;
  }
  .news_item .content h2 {
    width: 300px;
    /*margin-top: 15px;*/
  }
  .news_item p {
    height: 42px;
  }
}
