/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.controller-subscribers.container
{
	margin-top: -160px;
  /*text-align: justify;*/
}

.controller-subscribers table
{
  margin-top: 120px;
  margin-bottom: 30px;
}

.controller-subscribers th,
.controller-subscribers td
{
  padding: 5px 10px;
  border: 1px solid;
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (max-width : 1024px)
{

}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .controller-subscribers.container
  {
    margin-top: -130px;
    width: 90%;
  }

}
