.festival_item
  .date
    .day= festival.start_date.day
    .month= (Date::MONTHNAMES[festival.start_date.month])[0,3]
  .content
    %a{ :href => festival_path( :id => festival.id ) }
      %h2= festival.name
      %p.festival-date-list= festival.location
  .clear
