- @item = @festival
- unless @festival.new_record?
  = form_for @festival, :url => festival_path( :id => @festival.id ), :html=>{ :id=>'delete_form' }, :method => 'delete' do |f|
    // button will be rendered in next form

= form_for @festival, :url => ( @festival.new_record? ? festivals_path : festival_path( :id => @festival.id ) ), :html => { :multipart => true } do |f|
  = render "agencies/form_fields", :f => f
  
  - unless @festival.new_record?
    = submit_tag 'Delete festival', :form => 'delete_form', :class => ['delete_link'], :data => { :confirm => 'Are you sure?' }
  .sub_navigation
    %a.back{ :href => festivals_path } &#8592; Back to grid
    .clear
