- @festivals.map{ |p| p.start_date.month }.uniq.each do |month|
  .month
    = (Date::MONTHNAMES[month])
  - @festivals.select{|p| p.start_date.month == month }.each do |festival|
    = render "festival_item", :festival => festival
.clear
