%h1= I18n.t( :festivals, :scope => :titles )

.lms
  .lms_logo_image.red
  / %a.button{ :href => "http://musicsummer.lv", :target=>"_blank", :title => t(:listen) }

  - if is_admin?
    %a.button{ :href => new_festival_path, :title => "Pievienot" }
.festivals.content_wrap
  - @festivals.map{ |p| p.start_date.month }.uniq.each do |month|
    .month
      = (Date::MONTHNAMES[month])
    - @festivals.select{|p| p.start_date.month == month }.each do |festival|
      = render "festival_item", :festival => festival
.clear
