%h1= @festival.name

.profile
  .img{ :style => "background-image:url('#{@festival.image.url(:full)}');"}

  = render "artist_contacts", :item => @festival
.bio
  %p.festival-date
    / = @festival.start_date
    = @festival.start_date.strftime('%m-%d-%Y')
  %p.underline
  %p.festival-location= @festival.location
  .title
    %h2 Bio
  %p
    - if locale == :lv
      = raw @festival.bio_lv
    - if locale == :en
      = raw @festival.bio_en
    - if locale == :ru
      = raw @festival.bio_ru
.clear
- if is_admin?
  %a.button{ :href => edit_festival_path( :id => @festival.id ), :title => t(:edit) }

.sub_navigation
  %a.back{ :href => festivals_path }
    &#8592;
    = t(:back)
  .clear
  .form_submit
    = render "form_submit"
