/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./controllers
 *= require lightbox
 *= require_self
 */

@font-face {
    font-family: 'aller_display';
    src: url('/assets/allerdisplay-webfont.eot');
    src: url('/assets/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/allerdisplay-webfont.woff') format('woff'),
         url('/assets/allerdisplay-webfont.ttf') format('truetype'),
         url('/assets/allerdisplay-webfont.svg#aller_display') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_lt-webfont.eot');
    src: url('/assets/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_lt-webfont.woff') format('woff'),
         url('/assets/aller_lt-webfont.ttf') format('truetype'),
         url('/assets/aller_lt-webfont.svg#aller') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_bdit-webfont.eot');
    src: url('/assets/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_bdit-webfont.woff') format('woff'),
         url('/assets/aller_bdit-webfont.ttf') format('truetype'),
         url('/assets/aller_bdit-webfont.svg#aller') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_bd-webfont.eot');
    src: url('/assets/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_bd-webfont.woff') format('woff'),
         url('/assets/aller_bd-webfont.ttf') format('truetype'),
         url('/assets/aller_bd-webfont.svg#aller') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_rg-webfont.eot');
    src: url('/assets/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_rg-webfont.woff') format('woff'),
         url('/assets/aller_rg-webfont.ttf') format('truetype'),
         url('/assets/aller_rg-webfont.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_ltit-webfont.eot');
    src: url('/assets/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_ltit-webfont.woff') format('woff'),
         url('/assets/aller_ltit-webfont.ttf') format('truetype'),
         url('/assets/aller_ltit-webfont.svg#aller') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'aller';
    src: url('/assets/aller_it-webfont.eot');
    src: url('/assets/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_it-webfont.woff') format('woff'),
         url('/assets/aller_it-webfont.ttf') format('truetype'),
         url('/assets/aller_it-webfont.svg#aller') format('svg');
    font-weight: normal;
    font-style: italic;
}

html,body
{
	font-family: aller, sans-serif;
  width: 100%;
  height: auto;
  /*overflow-x: hidden; /*removes white space on the right side*/*/
}

::selection
{
	background: #f4f4f4; /* Safari */
	color: #231a1d;
}
::-moz-selection {
	background: #f4f4f4; /* Firefox */
	color: #231a1d;
}

.clear
{
	clear: both;
	float: none!important;
	margin: 0 !important;
  padding: 0 !important;
	height: 0px !important;
  width: 0px !important;
  border: 0px !important;
}

header
{
  background-attachment: fixed;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  height: 225px;
  width: 100%;
}


.nav_bg
{
  background-attachment: fixed;
  background-color: #bf2130;
  background-image: url("/assets/pattern.svg");
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index: 99999999;
}

.nav_wrap
{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  min-height: 60px;
}
.nav_wrap .logo
{
  background-image: url("/assets/logo_black.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 57px;
  margin-left: 15px;
  width: 93px;
  position: absolute;
  top: 0;
  left: 0;
}
nav
{
  display: inline-block
}
.language_select ul ul,
nav ul ul
{
  background-color:white;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 55px;
  width: 220px;
  padding-bottom: 5px;
  transition: opacity 0.2s ease-in-out 0s;
  -webkit-transition: opacity 0.2s ease-in-out 0s;
  text-align: left;
}
.language_select ul ul
{
  width: 70px;
}
nav>ul>li.show_submenu ul
{
  margin-left: 0;
  width: 100%;
}
.language_select>ul>li.show_submenu ul,
nav>ul>li.show_submenu ul
{
  opacity: 1;
  pointer-events: auto;
  text-align: center;
}
.language_select>ul>li,
nav>ul>li
{
  display:inline-block;
  position:relative;
  height: 60px;
}

.language_select a,
nav a
{
	color: #231a1d !important;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.25px;
  padding: 14px 16px;
  text-decoration: none !important;
}
.language_select>ul>li>a
{
  padding: 14px 0;
}
nav a.active,
nav a:hover
{
	color: #F3F1F2;
}

.img.first-page-news {
    max-width: 100%;
    height: 400px;
    background-color: #bf2130;
    background-size: cover;
    background-position: center;
}

.language_select ul ul a,
nav ul ul a
{
  display: block;
  padding: 3px 16px;
}
.language_select ul ul a.active,
.language_select ul ul a:hover,
nav ul ul a.active,
nav ul ul a:hover
{
  color: #bf2130;
}
.nav_wrap .language_select
{
  height: 60px;
  position: absolute;
  right: 0px;
  top: 0;
}
.nav_wrap .language_select>ul>li>a
{
  /*background-image: url("/assets/language.svg");*/
  background-position: left 12px;
  background-repeat: no-repeat;
  background-size: 35px auto;
  /*color: #231a1d;*/
  color: #fff;
  text-decoration: underline;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 30px;
  /*padding-left: 45px;*/
  cursor: pointer;
}
.nav_bg .search_bar .search_input {
  margin-top: 20px !important;
}

.nav_wrap .search
{
  background-image: url("/assets/search.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 35px auto;
  color: #231a1d;
  height: 38px;
  position: absolute;
  right: 80px;
  top: 13px;
  width: 40px;
  cursor: pointer;
}
.nav_bg .search_bar
{
  width: 100%;
  height:0;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0.1s;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
}
.container > h1
{
  opacity: 1;
  transition: opacity 0.1s ease-in-out 0s;
  -webkit-transition: opacity 0.1s ease-in-out 0s;
}
.search_active .container > h1
{
  opacity: 0;
}
.search_active .nav_bg .search_bar
{
  height:100px;
}
.nav_bg .search_bar .search_input
{
  background-color: transparent;
  border: 0 none;
  color: #fff;
  display: block;
  font-family: aller, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 33px auto 10px;
  max-width: 100%;
  width: 520px;
  outline: none;
  /*border-bottom: 2px solid #23191D;*/
}
.nav_bg .search_bar ::-webkit-input-placeholder {
   color: white;
   opacity: 1;
}

.nav_bg .search_bar :-moz-placeholder { /* Firefox 18- */
   color: white;
   opacity: 1;
}

.nav_bg .search_bar ::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   opacity: 1;
}

.nav_bg .search_bar :-ms-input-placeholder {
   color: white;
   opacity: 1;
}
.search_error_text
{
  opacity: 0!important;
  position: absolute;
  left: 30%;
  top: 200px;
  font-weight: bold;
  font-size: 30px;
  color: #bf2130;
  pointer-events: none;
}
.search_error .search_error_text
{
  opacity: 1!important;
}
.container > *
{
  transition: opacity 0.2s ease-in-out 0.1s;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
}
.search_error .container > *
{
  opacity: 0;
}
.container
{
  position: relative;
  width: 1000px;
  margin: 0 auto;
  z-index: 99999;
}
.show_submenu {
    z-index: 99;
}

.mobile_show
{
  display: none;
}
.desktop_show
{
  /*text-transform: none;*/
}

/* Media Queries for TABLETS / MEDIUM sized screens */

@media only screen and (min-width : 1025px)
{
  .language_select>ul>li:hover ul,
  nav>ul>li:hover ul
  {
    opacity: 1;
    pointer-events: auto;
  }
}
@media only screen and (max-width : 1024px)
{

  nav>ul>li ul
  {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .container
  {
    width: 750px;
    margin: 0 auto;
  }
  .title_wrap {
    width: 100% !important;
  }
  .content {
    overflow: hidden !important;
  }
  .nav_wrap .language_select {
    margin-right: 10px;
  }
  .search {
    right: 90px !important;
  }

  /* header styles */
  .nav_wrap .logo
  {
    margin-left: 0;
  }
  .nav_wrap
  {
    width: 100%;
  }

  .language_select a,
  nav a
  {
    padding: 14px 5px;
  }

  .mobile_show
  {
    display: block;
  }
  .desktop_show
  {
    display: none;
  }
}
.noise {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/assets/dot.gif');
  position: relative;
  opacity: 0.2;
}
.noise2 {
  width: 100%;
  height: 60px;
  z-index: 0;
  background: url('/assets/dot.gif');
  position: absolute;
  opacity: 0.2;
}
.noise3 {
  background: url('/assets/dot.gif');
  width: 60px;
  height: 54px;
  opacity: 0.2;
  z-index: 0;
  position: absolute;
}

/* Media Queries for MOBILE / SMALL sized screens */

@media only screen and (max-width : 767px)
{
  .container
  {
    width: 90%;
    padding: 0 10px;
  }
  .nav_wrap
  {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}
@media only screen and (max-width : 1024px)
{
  .nav_wrap .logo
  {
    display: none;
  }

  nav
  {
    margin-left: 0;
    background-color: #bf2130;
    background-image: url("/assets/pattern.svg");
    width: 100%;
    height: 0;
    transition: height 0.3s ease-in-out 0s;
    -webkit-transition: height 0.3s ease-in-out 0s;
    overflow: hidden;
  }
  nav.active
  {
    height: 355px;
  }
  .language_select>ul,
  nav>ul
  {
    padding-bottom: 5px;
  }
  .language_select>ul>li,
  nav>ul>li
  {
    display: block;
    text-align: center;
    height: 50px;
  }

  .nav_button
  {
    width:30px;
    height:30px;
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 5px;
    z-index:99;
  }
  .nav_icon:before,
  .nav_icon:after,
  .nav_icon
  {
    background-color: #fff;
    border-radius: 3px;
    display: block;
    height: 4px;
    position: relative;
    width: 30px;
    left: 0;
    top: 10px;
    transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
  }
  .nav_icon:before,
  .nav_icon:after
  {
    position: absolute;
    content: "";
  }
  .nav_icon:before
  {
    top: -10px;
  }
  .nav_icon:after
  {
    top: 10px;
  }
  .nav_button.active .nav_icon
  {
    background-color: transparent;
  }
  .nav_button.active .nav_icon:before,
  .nav_button.active .nav_icon:after
  {
    top: 0px;
    width: 32px;
  }
  .nav_button.active .nav_icon:before
  {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .nav_button.active .nav_icon:after
  {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.search-not-found {
  color: #bf2130;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: 50px;
}
.mce-menu {
  z-index: 99999999999999 !important;
}
.mce-window {
  z-index: 999999999999999 !important;
}