.contacts
  .left
    %h4.underline
      - if controller.controller_name == "artists"
        = t(:management)
      - else
        = t(:contacts)
    .contact_entry= item.contact
    %a.contact_entry{ :href => "mailto:#{ item.email }" }
      %span.mobile_show= t(:email)
      %span.desktop_show
        = item.email
    - if !item.phone.blank?
      %a.contact_entry{ :href => "tel:#{ item.phone }" }
        %span.mobile_show= t(:phone)
        %span.desktop_show
          = item.phone
  .right
    %h4.underline= t(:follow)
    .social_links.contact_entry
      - unless item.spotify.blank?
        %a.spotify{ :href => item.spotify, :target=>"_blank" }
          .social_icon.black
      - unless item.twitter.blank?
        %a.twitter{ :href => item.twitter, :target=>"_blank" }
          .social_icon.black
      - unless item.draugiem.blank?
        %a.draugiem{ :href => item.draugiem, :target=>"_blank" }
          .social_icon.black
      - unless item.facebook.blank?
        %a.facebook{ :href => item.facebook, :target=>"_blank" }
          .social_icon.black
    - unless item.webpage.blank?
      %a.contact_entry{ :href => item.webpage, :target=>"_blank" }
        %span.mobile_show WWW
        %span.desktop_show= item.webpage.sub(/http:\/\//i,"")
  .clear
