.footer_wrap
  .page_footer
    .latest_news
      %h4.underline
        - latest_news = t(:latest_news).split(' ')
        = latest_news.take(1)[0]
        %span= latest_news.drop(1).join(' ')
      %ul
        - @footer_posts.each do |post|
          %li
            %a{:href => news_path( :id => post.id ) }
              &raquo;
              = post.title

    = render "newsletter_form"
    = render "social_links"
    .clear
  .branding
    .copy
      = DateTime.now.year
      &copy; Music Export Latvia
    .jveart
      Design'n'code by
      %a{ :href => "http://jveart.com", :target => "_blank"}
        .img
    .clear
