- if controller.controller_name == "artists"
  - form_link = "http://goo.gl/forms/OmgXhZAKYa"
- elsif controller.controller_name == "festivals"
  - form_link = "http://goo.gl/forms/9oi7zAABT2"
- else
  - form_link = "http://goo.gl/forms/P7WgkzePD4"

Ja vēlies pievienot jaunu profilu
%a{ :href => form_link, :target => "_blank" } aizpildi pieteikuma anketu,
%br
ja pamanīji kļūdu, raksti uz
%a{ :href => "mailto:hello@jveart.com" } hello@jveart.com
