%ul
  %li
    %a{ :href => artists_path, :class => controller.controller_name == 'artists' ? :active : nil  }= I18n.t(:artists ,:scope => :navigation)
  %li
    %a{ :href => labels_path, :class => controller.controller_name == 'labels' ? :active : nil  }= I18n.t(:labels ,:scope => :navigation)
  %li
    %a{ :href => studios_path, :class => controller.controller_name == 'studios' ? :active : nil  }= I18n.t(:studios ,:scope => :navigation)
  %li
    %a{ :href => agencies_path, :class => controller.controller_name == 'agencies' ? :active : nil  }= I18n.t(:agencies ,:scope => :navigation)
  %li
    %a{ :href => authors_path, :class => controller.controller_name == 'authors' ? :active : nil  }= I18n.t(:authors ,:scope => :navigation)
  %li
    %a{ :href => venues_path, :class => controller.controller_name == 'venues' ? :active : nil  }= I18n.t(:venues ,:scope => :navigation)
  %li
    %a{ :href => media_path, :class => controller.controller_name == 'media' ? :active : nil  }= I18n.t(:media ,:scope => :navigation)
  %li
    %a{ :href => buy_index_path, :class => controller.controller_name == 'buy' ? :active : nil  }= I18n.t(:buy ,:scope => :navigation)
  %li
    %a{ :href => history_music_index_path, :class => controller.controller_name == 'history' ? :active : nil  }= I18n.t(:history ,:scope => :navigation)
