.nav_bg
  .noise2
  .nav_wrap
    .nav_button
      .nav_icon
    %a{ :href => root_path, :class => controller.controller_name == 'home' ? :active : nil }
      .logo
    %nav
      %ul
        %li
          %a{ :href => root_path, :class => controller.controller_name == 'home' ? :active : nil }= I18n.t(:home, :scope => :navigation )
        %li
          %a{ :href => news_index_path, :class => controller.controller_name == 'news' ? :active : nil  }= I18n.t(:news, :scope => :navigation )
          = render "news_submenu"
        %li
          %a{ :href => artists_path, :class => ( ( ['artists','buy','history'] + artist_like - ['festivals'] ).include?(controller.controller_name) ? :active : nil)  }= I18n.t(:music, :scope => :navigation )
          = render "music_submenu"
        %li
          %a{ :href => festivals_path, :class => (['festivals'].include?(controller.controller_name) ? :active : nil)  }= I18n.t(:live, :scope => :navigation )
          / %ul
          /   %li
          /     %a{ :href => festivals_path, :class => controller.controller_name == 'festivals' ? :active : nil  }= I18n.t(:festivals, :scope => :navigation )
        %li
          %a{ :href => about_path, :class => controller.controller_name == 'about' ? :active : nil  }= I18n.t(:about, :scope => :navigation )
        %li
          %a{ :href => contacts_path, :class => controller.controller_name == 'contacts' ? :active : nil  }= I18n.t(:contacts, :scope => :navigation )
        %li
          %a{ :href => classifieds_path, :class => controller.controller_name == 'classifieds' ? :active : nil  }= I18n.t(:classifieds, :scope => :navigation )

    - if (['artists', 'news'] + artist_like).include?(controller.controller_name) && ['index','own'].include?(controller.action_name)
      .search

    .language_select
      %ul
        %li
          - if locale == :lv
            %a{ :href => url_for( :locale => :en ) } In english
          - if locale == :en
            %a{ :href => url_for( :locale => :lv ) } latviski
  .search_bar
    .not_found_text{ :style => "display: none;" }
      = I18n.t(:not_found,:scope => :placeholders)
    %form
      %input.search_input{ :name => :search, :value => params[:search], :placeholder => I18n.t(:search ,:scope => :placeholders) }
      %input{ :type => :submit, :style => "display: none;" }
