.newsletter
  %h4.underline
    - join_our_mailinglist = t(:join_our_mailinglist).split(' ')
    = join_our_mailinglist.take(1)[0]
    %span= join_our_mailinglist.drop(1).join(' ')
  - if is_admin?
    %li
      %a{ :href => subscribers_path, :class => controller.controller_name == 'subscribers' ? :active : nil  } Subscribers
  - else
    = form_for Subscriber.new do |f|
      = f.email_field :email, :placeholder => I18n.t( :your_email, :scope => :placeholders ), :required => true
      = f.submit :value => t(:subscribe)
    .success_msg
      = t(:subscribed)
    .duplicate_msg
      = t(:duplicate_email)
    
