.social_links
  %h4.underline= t(:follow_us)

  %a.draugiem{ :href => 'http://www.draugiem.lv/muzikaseksports/', :target=> "_blank" }
    .social_icon
  %a.twitter{ :href => 'https://twitter.com/musiclatvia', :target=> "_blank" }
    .social_icon
  %a.facebook{ :href => 'https://www.facebook.com/musiclatvia', :target=> "_blank" }
    .social_icon
