.user_data
  %span
    %a{ :href => own_classifieds_path }= "#{t(:all_classifieds)} (#{current_user.classifieds.count})"
  %span
    .user_image{ :style => "background-image: url('#{current_user.image_link}')" }
    %b= current_user.full_name
  %span
    = link_to t(:log_out), destroy_user_session_path, :method => :delete
