.view_controls
  .view_as
    %a{ 'data-view' => :tiles }
      .tiles
    %a{ 'data-view' => :list }
      .list
  .sorting
    %a{ 'data-sort' => :asc } A-Z
    %a{ 'data-sort' => :random }= t(:random)
  .clear
