%h1= I18n.t( :studios, :scope => :titles )

.side_navigation
  .links
    = render "music_submenu"

  - if is_admin?
    %a.button{ :href => new_studio_path, :title => "Pievienot" }

.items{ 'data-view' => :tiles, 'data-sort' => :asc  }
  = render "view_controls"
  .item_wrap.content_wrap
    = render "studio_list"
  .clear
.clear
