!!!
%html
  %head
    %title
      - if Rails.env == "beta"
        BETA -
      - if Rails.env == "development"
        LOCAL DEV -
      Music export Latvia

    %meta{:content => "width=device-width, target-densitydpi=device-dpi, initial-scale=1", :name => "viewport"}/
    %meta{:content => "810968412307568", :property => "fb:app_id"}/
    %meta{:content => "Music export Latvia ", :property => "og:site_name"}/
    - if controller.controller_name == "news" && controller.action_name == "show"
      %meta{:content => "article", :property => "og:type"}/
      %meta{:content => @post.title, :property => "og:title"}/
      - unless @post.image.blank?
        %meta{:content => "http://musiclatvia.lv" + @post.image.url(:full), :property => "og:image"}/
      %meta{:content => truncate(strip_tags( @post.content ), :length => 300, :separator => ' '), :property => "og:description"}/


    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

    / Google Tag Manager
    %noscript
      %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-5BWLZJ", :style => "display:none;visibility:hidden", :width => "0"}
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5BWLZJ');
    / End Google Tag Manager

  %body

    %header.header{ :class => [ "controller-#{controller.controller_name}", "action-#{controller.action_name}" ] }
      .noise
      = render 'navigation'
    %div.container{ :class => [ "controller-#{controller.controller_name}", "action-#{controller.action_name}", "on-#{['index','own'].include?(controller.action_name) ? 'collection' : 'single'}", ( artist_like.include?(controller.controller_name) ? "controller-artist_like" : nil ) ] }
      = yield
    %footer
      = render 'footer'
      = javascript_include_tag 'application'
      - if is_admin?
        = stylesheet_link_tag "datepicker"
        = tinymce_assets
        = javascript_include_tag 'tinymce_config'
        = javascript_include_tag 'admin'
